In [1]:
import pandas as pd
df = pd.read_csv('TCS.NS (1).csv')
df

,Date,Open,High,Low,Close,Adj Close,Volume,Diff
0,8/3/2018,1956.500000,1982.050049,1956.500000,1979.449951,1979.449951,1505131,26.699951
1,8/6/2018,1997.000000,1998.949951,1972.250000,1975.550049,1975.550049,1532249,18.650024
2,8/7/2018,1978.199951,1979.150024,1960.500000,1967.349976,1967.349976,1353560,16.300049
3,8/8/2018,1972.000000,1978.300049,1962.000000,1974.000000,1974.000000,1315062,14.800049
4,8/9/2018,1980.000000,1980.800049,1966.000000,1974.349976,1974.349976,2060297,24.449951
5,8/10/2018,1980.949951,1996.500000,1972.050049,1993.099976,1993.099976,2784105,14.250000
6,8/13/2018,1997.800049,2004.250000,1990.000000,2000.150024,2000.150024,3559575,42.199952
7,8/14/2018,1992.000000,2024.599976,1982.400024,2003.550049,2003.550049,3311765,25.050049
8,8/16/2018,2000.300049,2020.050049,1995.000000,2008.500000,2008.500000,2152065,17.900024
9,8/17/2018,2013.849976,2021.900024,2004.000000,2012.750000,2012.750000,1213731,20.300049
10,8/20/2018,2024.000000,2024.000000,2003.699951,2009.949951,2009.949951,1587032,20.000000
11,8/21/2018,2010.150024,2024.000000,2004.000000,2017.650024,2017.650024,1376866,17.699951
12,8/23/2018,2022.800049,2038.000000,2020.300049,2035.099976,2035.099976,3046791,15.000000
13,8/24/2018,2035.099976,2046.000000,2031.000000,2043.000000,2043.000000,1570533,24.000000
14,8/27/2018,2043.000000,2059.000000,2035.000000,2050.899902,2050.899902,1532702,20.000000
15,8/28/2018,2055.000000,2072.000000,2052.000000,2069.199951,2069.199951,1987983,31.000122
16,8/29/2018,2072.500000,2076.600098,2045.599976,2072.000000,2072.000000,1525867,19.500000
17,8/30/2018,2068.000000,2085.000000,2065.500000,2082.399902,2082.399902,2408020,18.000000
18,8/31/2018,2082.300049,2092.000000,2074.000000,2078.399902,2078.399902,2504554,41.600098
19,9/3/2018,2084.800049,2090.000000,2048.399902,2052.899902,2052.899902,1439711,0.000000

In [9]:
df['High'].max()

2092.0

In [15]:
df['Date'][df['High'] == 2092.0]

18    8/31/2018
Name: Date, dtype: object

In [11]:
df['Volume'].mean()

1988379.95

In [9]:
df = pd.read_csv('TCS.NS (1).csv')
df['Date'][df['High'] >= 2000.0]

6     8/13/2018
7     8/14/2018
8     8/16/2018
9     8/17/2018
10    8/20/2018
11    8/21/2018
12    8/23/2018
13    8/24/2018
14    8/27/2018
15    8/28/2018
16    8/29/2018
17    8/30/2018
18    8/31/2018
19     9/3/2018
Name: Date, dtype: object

In [14]:
df = pd.read_csv('TCS.NS (1).csv')
df.Date[df.Diff == df.Diff.max()]

6    8/13/2018
Name: Date, dtype: object

In [6]:
order_section = [('1200','2018-07-01','10000'),
      ('1201','2018-07-01','20000'),
      ('1202','2018-07-01','10010'),
       ('1203','2018-07-01','12000')] 
df2 = pd.DataFrame(order_section,columns=['Transaction voucher','Date','cumulative '])
df2

  Transaction voucher        Date cumulative
0                1200  2018-07-01       10000
1                1201  2018-07-01       20000
2                1202  2018-07-01       10010
3                1203  2018-07-01       12000

In [16]:
df.shape        #it will givee the rows and columns

(22, 7)

In [17]:
df[7:19]

,Date,Open,High,Low,Close,Adj Close,Volume
7,2018-08-08,1972.000000,1978.300049,1962.000000,1974.000000,1974.000000,1315062
8,2018-08-09,1980.000000,1980.800049,1966.000000,1974.349976,1974.349976,2060297
9,2018-08-10,1980.949951,1996.500000,1972.050049,1993.099976,1993.099976,2784105
10,2018-08-13,1997.800049,2004.250000,1990.000000,2000.150024,2000.150024,3559575
11,2018-08-14,1992.000000,2024.599976,1982.400024,2003.550049,2003.550049,3311765
12,2018-08-16,2000.300049,2020.050049,1995.000000,2008.500000,2008.500000,2152065
13,2018-08-17,2013.849976,2021.900024,2004.000000,2012.750000,2012.750000,1213731
14,2018-08-20,2024.000000,2024.000000,2003.699951,2009.949951,2009.949951,1587032
15,2018-08-21,2010.150024,2024.000000,2004.000000,2017.650024,2017.650024,1376866
16,2018-08-23,2022.800049,2038.000000,2020.300049,2035.099976,2035.099976,3046791
17,2018-08-24,2035.099976,2046.000000,2031.000000,2043.000000,2043.000000,1570533
18,2018-08-27,2043.000000,2059.000000,2035.000000,2050.899902,2050.899902,1532702

In [21]:
df[4:21:5]

,Date,Open,High,Low,Close,Adj Close,Volume
4,2018-08-03,1956.500000,1982.050049,1956.500000,1979.449951,1979.449951,1505131
9,2018-08-10,1980.949951,1996.500000,1972.050049,1993.099976,1993.099976,2784105
14,2018-08-20,2024.000000,2024.000000,2003.699951,2009.949951,2009.949951,1587032
19,2018-08-28,2055.000000,2072.000000,2052.000000,2069.199951,2069.199951,1987983

In [11]:
df['Volume'].describe()

count    2.000000e+01
mean     1.988380e+06
std      7.173840e+05
min      1.213731e+06
25%      1.488776e+06
50%      1.578782e+06
75%      2.432154e+06
max      3.559575e+06
Name: Volume, dtype: float64

In [13]:
df.Date[df.Volume == df.Volume.max()]

6    8/13/2018
Name: Date, dtype: object

In [2]:
df3 = pd.read_excel('dummy_sales.xlsx')
df3

         ORDER ID ORDER DATE  AMOUNT
0    2.018190e+11 2018-08-01     538
1    2.018190e+11 2018-08-01     202
2    2.018190e+11 2018-08-01      97
3    2.018190e+11 2018-08-01      57
4    2.018190e+11 2018-08-01     902
5    2.018190e+11 2018-08-01     190
6    2.018190e+11 2018-08-01      51
7    2.018190e+11 2018-08-01     176
8    2.018190e+11 2018-08-01      48
9    2.018190e+11 2018-08-01      66
10   2.018190e+11 2018-08-01      85
11   2.018190e+11 2018-08-01     199
12   2.018190e+11 2018-08-01     185
13   2.018190e+11 2018-08-01     640
14   2.018190e+11 2018-08-01     559
15   2.018190e+11 2018-08-01     239
16   2.018190e+11 2018-08-01       0
17   2.018190e+11 2018-08-01      14
18   2.018190e+11 2018-08-01     160
19   2.018190e+11 2018-08-02     190
20   2.018190e+11 2018-08-02     119
21   2.018190e+11 2018-08-02     351
22   2.018190e+11 2018-08-02     301
23   2.018190e+11 2018-08-02      57
24   2.018190e+11 2018-08-02     182
25   2.018190e+11 2018-08-02     207
26   2.018190e+11 2018-08-02     415
27   2.018190e+11 2018-08-02     216
28   2.018190e+11 2018-08-02     229
29   2.018190e+11 2018-08-02      77
..            ...        ...     ...
607  2.018190e+11 2018-08-30     313
608  2.018190e+11 2018-08-31      14
609  2.018190e+11 2018-08-31     826
610  2.018190e+11 2018-08-31    1140
611  2.018190e+11 2018-08-31     160
612  2.018190e+11 2018-08-31     322
613  2.018190e+11 2018-08-31     113
614  2.018190e+11 2018-08-31      57
615  2.018190e+11 2018-08-31     148
616  2.018190e+11 2018-08-31     150
617  2.018190e+11 2018-08-31     142
618  2.018190e+11 2018-08-31    1005
619  2.018190e+11 2018-08-31      34
620  2.018190e+11 2018-08-31     594
621  2.018190e+11 2018-08-31     136
622  2.018190e+11 2018-08-31      89
623  2.018190e+11 2018-08-31     189
624  2.018190e+11 2018-08-31      85
625  2.018190e+11 2018-08-31     132
626  2.018190e+11 2018-08-31     152
627  2.018190e+11 2018-08-31      75
628  2.018190e+11 2018-08-31    2267
629  2.018190e+11 2018-08-31      90
630  2.018190e+11 2018-08-31     185
631  2.018190e+11 2018-08-31    6608
632  2.018190e+11 2018-08-31     346
633  2.018190e+11 2018-08-31     102
634  2.018190e+11 2018-08-31     340
635  2.018190e+11 2018-08-31      14
636           NaN        NaT  224125

[637 rows x 3 columns]

In [18]:
df3.to_csv('new.csv')     #it will convert the excel into csv format

In [19]:
df3

         ORDER ID ORDER DATE  AMOUNT
0    2.018190e+11 2018-08-01     538
1    2.018190e+11 2018-08-01     202
2    2.018190e+11 2018-08-01      97
3    2.018190e+11 2018-08-01      57
4    2.018190e+11 2018-08-01     902
5    2.018190e+11 2018-08-01     190
6    2.018190e+11 2018-08-01      51
7    2.018190e+11 2018-08-01     176
8    2.018190e+11 2018-08-01      48
9    2.018190e+11 2018-08-01      66
10   2.018190e+11 2018-08-01      85
11   2.018190e+11 2018-08-01     199
12   2.018190e+11 2018-08-01     185
13   2.018190e+11 2018-08-01     640
14   2.018190e+11 2018-08-01     559
15   2.018190e+11 2018-08-01     239
16   2.018190e+11 2018-08-01       0
17   2.018190e+11 2018-08-01      14
18   2.018190e+11 2018-08-01     160
19   2.018190e+11 2018-08-02     190
20   2.018190e+11 2018-08-02     119
21   2.018190e+11 2018-08-02     351
22   2.018190e+11 2018-08-02     301
23   2.018190e+11 2018-08-02      57
24   2.018190e+11 2018-08-02     182
25   2.018190e+11 2018-08-02     207
26   2.018190e+11 2018-08-02     415
27   2.018190e+11 2018-08-02     216
28   2.018190e+11 2018-08-02     229
29   2.018190e+11 2018-08-02      77
..            ...        ...     ...
607  2.018190e+11 2018-08-30     313
608  2.018190e+11 2018-08-31      14
609  2.018190e+11 2018-08-31     826
610  2.018190e+11 2018-08-31    1140
611  2.018190e+11 2018-08-31     160
612  2.018190e+11 2018-08-31     322
613  2.018190e+11 2018-08-31     113
614  2.018190e+11 2018-08-31      57
615  2.018190e+11 2018-08-31     148
616  2.018190e+11 2018-08-31     150
617  2.018190e+11 2018-08-31     142
618  2.018190e+11 2018-08-31    1005
619  2.018190e+11 2018-08-31      34
620  2.018190e+11 2018-08-31     594
621  2.018190e+11 2018-08-31     136
622  2.018190e+11 2018-08-31      89
623  2.018190e+11 2018-08-31     189
624  2.018190e+11 2018-08-31      85
625  2.018190e+11 2018-08-31     132
626  2.018190e+11 2018-08-31     152
627  2.018190e+11 2018-08-31      75
628  2.018190e+11 2018-08-31    2267
629  2.018190e+11 2018-08-31      90
630  2.018190e+11 2018-08-31     185
631  2.018190e+11 2018-08-31    6608
632  2.018190e+11 2018-08-31     346
633  2.018190e+11 2018-08-31     102
634  2.018190e+11 2018-08-31     340
635  2.018190e+11 2018-08-31      14
636           NaN        NaT  224125

[637 rows x 3 columns]

In [12]:
df4 = pd.read_csv('new.csv')    #it will print the converted format file
df4

     Unnamed: 0      ORDER ID ORDER_DATE  AMOUNT
0             0  2.018190e+11   8/1/2018     538
1             1  2.018190e+11   8/1/2018     202
2             2  2.018190e+11   8/1/2018      97
3             3  2.018190e+11   8/1/2018      57
4             4  2.018190e+11   8/1/2018     902
5             5  2.018190e+11   8/1/2018     190
6             6  2.018190e+11   8/1/2018      51
7             7  2.018190e+11   8/1/2018     176
8             8  2.018190e+11   8/1/2018      48
9             9  2.018190e+11   8/1/2018      66
10           10  2.018190e+11   8/1/2018      85
11           11  2.018190e+11   8/1/2018     199
12           12  2.018190e+11   8/1/2018     185
13           13  2.018190e+11   8/1/2018     640
14           14  2.018190e+11   8/1/2018     559
15           15  2.018190e+11   8/1/2018     239
16           16  2.018190e+11   8/1/2018       0
17           17  2.018190e+11   8/1/2018      14
18           18  2.018190e+11   8/1/2018     160
19           19  2.018190e+11   8/2/2018     190
20           20  2.018190e+11   8/2/2018     119
21           21  2.018190e+11   8/2/2018     351
22           22  2.018190e+11   8/2/2018     301
23           23  2.018190e+11   8/2/2018      57
24           24  2.018190e+11   8/2/2018     182
25           25  2.018190e+11   8/2/2018     207
26           26  2.018190e+11   8/2/2018     415
27           27  2.018190e+11   8/2/2018     216
28           28  2.018190e+11   8/2/2018     229
29           29  2.018190e+11   8/2/2018      77
..          ...           ...        ...     ...
607         607  2.018190e+11  8/30/2018     313
608         608  2.018190e+11  8/31/2018      14
609         609  2.018190e+11  8/31/2018     826
610         610  2.018190e+11  8/31/2018    1140
611         611  2.018190e+11  8/31/2018     160
612         612  2.018190e+11  8/31/2018     322
613         613  2.018190e+11  8/31/2018     113
614         614  2.018190e+11  8/31/2018      57
615         615  2.018190e+11  8/31/2018     148
616         616  2.018190e+11  8/31/2018     150
617         617  2.018190e+11  8/31/2018     142
618         618  2.018190e+11  8/31/2018    1005
619         619  2.018190e+11  8/31/2018      34
620         620  2.018190e+11  8/31/2018     594
621         621  2.018190e+11  8/31/2018     136
622         622  2.018190e+11  8/31/2018      89
623         623  2.018190e+11  8/31/2018     189
624         624  2.018190e+11  8/31/2018      85
625         625  2.018190e+11  8/31/2018     132
626         626  2.018190e+11  8/31/2018     152
627         627  2.018190e+11  8/31/2018      75
628         628  2.018190e+11  8/31/2018    2267
629         629  2.018190e+11  8/31/2018      90
630         630  2.018190e+11  8/31/2018     185
631         631  2.018190e+11  8/31/2018    6608
632         632  2.018190e+11  8/31/2018     346
633         633  2.018190e+11  8/31/2018     102
634         634  2.018190e+11  8/31/2018     340
635         635  2.018190e+11  8/31/2018      14
636         636           NaN        NaN  224125

[637 rows x 4 columns]

In [13]:
df5 = df4.groupby('ORDER_DATE')
for ORDER_DATE,order in df5:
    print(ORDER_DATE)
    print(order)

8/1/2018
    Unnamed: 0      ORDER ID ORDER_DATE  AMOUNT
0            0  2.018190e+11   8/1/2018     538
1            1  2.018190e+11   8/1/2018     202
2            2  2.018190e+11   8/1/2018      97
3            3  2.018190e+11   8/1/2018      57
4            4  2.018190e+11   8/1/2018     902
5            5  2.018190e+11   8/1/2018     190
6            6  2.018190e+11   8/1/2018      51
7            7  2.018190e+11   8/1/2018     176
8            8  2.018190e+11   8/1/2018      48
9            9  2.018190e+11   8/1/2018      66
10          10  2.018190e+11   8/1/2018      85
11          11  2.018190e+11   8/1/2018     199
12          12  2.018190e+11   8/1/2018     185
13          13  2.018190e+11   8/1/2018     640
14          14  2.018190e+11   8/1/2018     559
15          15  2.018190e+11   8/1/2018     239
16          16  2.018190e+11   8/1/2018       0
17          17  2.018190e+11   8/1/2018      14
18          18  2.018190e+11   8/1/2018     160
8/10/2018
     Unnamed: 0      ORDER ID ORDER_DATE  AMOUNT
189         189  2.018190e+11  8/10/2018      95
190         190  2.018190e+11  8/10/2018     471
191         191  2.018190e+11  8/10/2018     455
192         192  2.018190e+11  8/10/2018    2412
193         193  2.018190e+11  8/10/2018       0
194         194  2.018190e+11  8/10/2018     123
195         195  2.018190e+11  8/10/2018     347
196         196  2.018190e+11  8/10/2018     284
197         197  2.018190e+11  8/10/2018     241
198         198  2.018190e+11  8/10/2018     305
199         199  2.018190e+11  8/10/2018      51
200         200  2.018190e+11  8/10/2018     114
201         201  2.018190e+11  8/10/2018      86
202         202  2.018190e+11  8/10/2018     310
203         203  2.018190e+11  8/10/2018      68
204         204  2.018190e+11  8/10/2018     143
205         205  2.018190e+11  8/10/2018     139
206         206  2.018190e+11  8/10/2018     604
207         207  2.018190e+11  8/10/2018     382
208         208  2.018190e+11  8/10/2018      57
209         209  2.018190e+11  8/10/2018     420
210         210  2.018190e+11  8/10/2018      79
8/11/2018
     Unnamed: 0      ORDER ID ORDER_DATE  AMOUNT
211         211  2.018190e+11  8/11/2018     242
212         212  2.018190e+11  8/11/2018     223
213         213  2.018190e+11  8/11/2018     426
214         214  2.018190e+11  8/11/2018     467
215         215  2.018190e+11  8/11/2018       0
216         216  2.018190e+11  8/11/2018     536
217         217  2.018190e+11  8/11/2018     269
218         218  2.018190e+11  8/11/2018     384
219         219  2.018190e+11  8/11/2018     445
220         220  2.018190e+11  8/11/2018     411
221         221  2.018190e+11  8/11/2018     400
222         222  2.018190e+11  8/11/2018     105
223         223  2.018190e+11  8/11/2018      67
224         224  2.018190e+11  8/11/2018     675
225         225  2.018190e+11  8/11/2018     481
226         226  2.018190e+11  8/11/2018     623
227         227  2.018190e+11  8/11/2018     261
228         228  2.018190e+11  8/11/2018     418
229         229  2.018190e+11  8/11/2018       0
230         230  2.018190e+11  8/11/2018     122
231         231  2.018190e+11  8/11/2018       0
232         232  2.018190e+11  8/11/2018      68
233         233  2.018190e+11  8/11/2018     264
234         234  2.018190e+11  8/11/2018     856
235         235  2.018190e+11  8/11/2018    1549
236         236  2.018190e+11  8/11/2018     530
237         237  2.018190e+11  8/11/2018     188
238         238  2.018190e+11  8/11/2018     110
239         239  2.018190e+11  8/11/2018       0
240         240  2.018190e+11  8/11/2018      66
241         241  2.018190e+11  8/11/2018     632
242         242  2.018190e+11  8/11/2018      17
243         243  2.018190e+11  8/11/2018      48
8/12/2018
     Unnamed: 0      ORDER ID ORDER_DATE  AMOUNT
244         244  2.018190e+11  8/12/2018     279
245         245  2.018190e+11  8/12/2018     406
8/13/2018
     Unnamed: 0      ORDER ID ORDER_DATE  AMOUNT
246         246  2.018190e+11  8/13/2018     102
247         247  2.018190e+11  8/13/2018       0
248         248  2.018190e+11  8/13/2018      71
249         249  2.018190e+11  8/13/2018     412
250         250  2.018190e+11  8/13/2018     618
251         251  2.018190e+11  8/13/2018     156
252         252  2.018190e+11  8/13/2018     488
253         253  2.018190e+11  8/13/2018    1023
254         254  2.018190e+11  8/13/2018     245
255         255  2.018190e+11  8/13/2018      57
256         256  2.018190e+11  8/13/2018     814
257         257  2.018190e+11  8/13/2018      14
258         258  2.018190e+11  8/13/2018     181
259         259  2.018190e+11  8/13/2018      84
260         260  2.018190e+11  8/13/2018     535
261         261  2.018190e+11  8/13/2018      51
262         262  2.018190e+11  8/13/2018     316
263         263  2.018190e+11  8/13/2018     118
264         264  2.018190e+11  8/13/2018     265
265         265  2.018190e+11  8/13/2018      80
266         266  2.018190e+11  8/13/2018     265
267         267  2.018190e+11  8/13/2018     290
268         268  2.018190e+11  8/13/2018      80
269         269  2.018190e+11  8/13/2018     316
270         270  2.018190e+11  8/13/2018     732
271         271  2.018190e+11  8/13/2018     242
8/14/2018
     Unnamed: 0      ORDER ID ORDER_DATE  AMOUNT
272         272  2.018190e+11  8/14/2018     589
273         273  2.018190e+11  8/14/2018     147
274         274  2.018190e+11  8/14/2018     332
275         275  2.018190e+11  8/14/2018     189
276         276  2.018190e+11  8/14/2018      86
277         277  2.018190e+11  8/14/2018     544
278         278  2.018190e+11  8/14/2018     296
279         279  2.018190e+11  8/14/2018     548
280         280  2.018190e+11  8/14/2018     332
281         281  2.018190e+11  8/14/2018     316
282         282  2.018190e+11  8/14/2018     110
283         283  2.018190e+11  8/14/2018      51
284         284  2.018190e+11  8/14/2018     762
285         285  2.018190e+11  8/14/2018     131
286         286  2.018190e+11  8/14/2018     227
287         287  2.018190e+11  8/14/2018     789
288         288  2.018190e+11  8/14/2018     239
289         289  2.018190e+11  8/14/2018     897
290         290  2.018190e+11  8/14/2018     242
291         291  2.018190e+11  8/14/2018     195
292         292  2.018190e+11  8/14/2018     446
293         293  2.018190e+11  8/14/2018     114
294         294  2.018190e+11  8/14/2018    5009
295         295  2.018190e+11  8/14/2018     386
296         296  2.018190e+11  8/14/2018     315
297         297  2.018190e+11  8/14/2018    1002
298         298  2.018190e+11  8/14/2018     400
299         299  2.018190e+11  8/14/2018     698
300         300  2.018190e+11  8/14/2018      82
301         301  2.018190e+11  8/14/2018      17
8/15/2018
     Unnamed: 0      ORDER ID ORDER_DATE  AMOUNT
302         302  2.018190e+11  8/15/2018     348
303         303  2.018190e+11  8/15/2018     570
8/16/2018
     Unnamed: 0      ORDER ID ORDER_DATE  AMOUNT
304         304  2.018190e+11  8/16/2018     209
305         305  2.018190e+11  8/16/2018      29
306         306  2.018190e+11  8/16/2018     306
307         307  2.018190e+11  8/16/2018      51
308         308  2.018190e+11  8/16/2018     492
309         309  2.018190e+11  8/16/2018     227
310         310  2.018190e+11  8/16/2018     307
311         311  2.018190e+11  8/16/2018     148
312         312  2.018190e+11  8/16/2018     632
313         313  2.018190e+11  8/16/2018     518
314         314  2.018190e+11  8/16/2018     284
315         315  2.018190e+11  8/16/2018     133
316         316  2.018190e+11  8/16/2018     139
317         317  2.018190e+11  8/16/2018     745
318         318  2.018190e+11  8/16/2018     460
319         319  2.018190e+11  8/16/2018     920
320         320  2.018190e+11  8/16/2018     314
8/17/2018
     Unnamed: 0      ORDER ID ORDER_DATE  AMOUNT
321         321  2.018190e+11  8/17/2018      65
322         322  2.018190e+11  8/17/2018      74
323         323  2.018190e+11  8/17/2018     340
324         324  2.018190e+11  8/17/2018     113
325         325  2.018190e+11  8/17/2018       0
326         326  2.018190e+11  8/17/2018      71
327         327  2.018190e+11  8/17/2018     214
328         328  2.018190e+11  8/17/2018       0
329         329  2.018190e+11  8/17/2018     375
330         330  2.018190e+11  8/17/2018     200
331         331  2.018190e+11  8/17/2018     190
332         332  2.018190e+11  8/17/2018     407
333         333  2.018190e+11  8/17/2018     342
334         334  2.018190e+11  8/17/2018     320
335         335  2.018190e+11  8/17/2018       0
336         336  2.018190e+11  8/17/2018     282
337         337  2.018190e+11  8/17/2018      57
338         338  2.018190e+11  8/17/2018     243
339         339  2.018190e+11  8/17/2018       0
340         340  2.018190e+11  8/17/2018       0
341         341  2.018190e+11  8/17/2018     361
342         342  2.018190e+11  8/17/2018      86
343         343  2.018190e+11  8/17/2018    3539
344         344  2.018190e+11  8/17/2018     638
8/18/2018
     Unnamed: 0      ORDER ID ORDER_DATE  AMOUNT
345         345  2.018190e+11  8/18/2018     499
346         346  2.018190e+11  8/18/2018     142
347         347  2.018190e+11  8/18/2018     222
348         348  2.018190e+11  8/18/2018    1090
349         349  2.018190e+11  8/18/2018     464
350         350  2.018190e+11  8/18/2018     223
351         351  2.018190e+11  8/18/2018     207
352         352  2.018190e+11  8/18/2018     218
353         353  2.018190e+11  8/18/2018     400
354         354  2.018190e+11  8/18/2018     192
355         355  2.018190e+11  8/18/2018       0
356         356  2.018190e+11  8/18/2018     399
357         357  2.018190e+11  8/18/2018     224
358         358  2.018190e+11  8/18/2018     195
359         359  2.018190e+11  8/18/2018     807
360         360  2.018190e+11  8/18/2018     189
361         361  2.018190e+11  8/18/2018      91
362         362  2.018190e+11  8/18/2018     329
363         363  2.018190e+11  8/18/2018     630
364         364  2.018190e+11  8/18/2018      20
365         365  2.018190e+11  8/18/2018     460
366         366  2.018190e+11  8/18/2018    1140
367         367  2.018190e+11  8/18/2018     190
368         368  2.018190e+11  8/18/2018      99
369         369  2.018190e+11  8/18/2018     366
370         370  2.018190e+11  8/18/2018    1290
371         371  2.018190e+11  8/18/2018     710
372         372  2.018190e+11  8/18/2018     760
373         373  2.018190e+11  8/18/2018     232
374         374  2.018190e+11  8/18/2018     131
375         375  2.018190e+11  8/18/2018     400
376         376  2.018190e+11  8/18/2018     158
377         377  2.018190e+11  8/18/2018     114
378         378  2.018190e+11  8/18/2018     230
379         379  2.018190e+11  8/18/2018     766
380         380  2.018190e+11  8/18/2018     297
381         381  2.018190e+11  8/18/2018     276
382         382  2.018190e+11  8/18/2018      57
383         383  2.018190e+11  8/18/2018      80
8/19/2018
     Unnamed: 0      ORDER ID ORDER_DATE  AMOUNT
384         384  2.018190e+11  8/19/2018     904
385         385  2.018190e+11  8/19/2018     190
386         386  2.018190e+11  8/19/2018    1123
387         387  2.018190e+11  8/19/2018     245
388         388  2.018190e+11  8/19/2018     111
389         389  2.018190e+11  8/19/2018     316
8/2/2018
    Unnamed: 0      ORDER ID ORDER_DATE  AMOUNT
19          19  2.018190e+11   8/2/2018     190
20          20  2.018190e+11   8/2/2018     119
21          21  2.018190e+11   8/2/2018     351
22          22  2.018190e+11   8/2/2018     301
23          23  2.018190e+11   8/2/2018      57
24          24  2.018190e+11   8/2/2018     182
25          25  2.018190e+11   8/2/2018     207
26          26  2.018190e+11   8/2/2018     415
27          27  2.018190e+11   8/2/2018     216
28          28  2.018190e+11   8/2/2018     229
29          29  2.018190e+11   8/2/2018      77
30          30  2.018190e+11   8/2/2018       0
31          31  2.018190e+11   8/2/2018     109
32          32  2.018190e+11   8/2/2018     125
33          33  2.018190e+11   8/2/2018     908
34          34  2.018190e+11   8/2/2018     160
35          35  2.018190e+11   8/2/2018      68
36          36  2.018190e+11   8/2/2018     189
37          37  2.018190e+11   8/2/2018      29
38          38  2.018190e+11   8/2/2018      74
39          39  2.018190e+11   8/2/2018      57
40          40  2.018190e+11   8/2/2018     265
41          41  2.018190e+11   8/2/2018     249
8/20/2018
     Unnamed: 0      ORDER ID ORDER_DATE  AMOUNT
390         390  2.018190e+11  8/20/2018     265
391         391  2.018190e+11  8/20/2018     247
392         392  2.018190e+11  8/20/2018     948
393         393  2.018190e+11  8/20/2018     297
394         394  2.018190e+11  8/20/2018      29
395         395  2.018190e+11  8/20/2018     274
396         396  2.018190e+11  8/20/2018     125
397         397  2.018190e+11  8/20/2018     133
398         398  2.018190e+11  8/20/2018     186
399         399  2.018190e+11  8/20/2018    1518
400         400  2.018190e+11  8/20/2018    1048
401         401  2.018190e+11  8/20/2018     703
402         402  2.018190e+11  8/20/2018     268
403         403  2.018190e+11  8/20/2018     209
404         404  2.018190e+11  8/20/2018      70
405         405  2.018190e+11  8/20/2018     330
406         406  2.018190e+11  8/20/2018     645
407         407  2.018190e+11  8/20/2018      51
408         408  2.018190e+11  8/20/2018     621
409         409  2.018190e+11  8/20/2018     330
410         410  2.018190e+11  8/20/2018     142
411         411  2.018190e+11  8/20/2018    4402
412         412  2.018190e+11  8/20/2018      15
413         413  2.018190e+11  8/20/2018      75
414         414  2.018190e+11  8/20/2018     331
415         415  2.018190e+11  8/20/2018      33
8/21/2018
     Unnamed: 0      ORDER ID ORDER_DATE  AMOUNT
416         416  2.018190e+11  8/21/2018     413
417         417  2.018190e+11  8/21/2018     155
418         418  2.018190e+11  8/21/2018      86
419         419  2.018190e+11  8/21/2018     318
420         420  2.018190e+11  8/21/2018     886
421         421  2.018190e+11  8/21/2018     157
422         422  2.018190e+11  8/21/2018     588
423         423  2.018190e+11  8/21/2018     309
424         424  2.018190e+11  8/21/2018     503
425         425  2.018190e+11  8/21/2018     424
426         426  2.018190e+11  8/21/2018     191
427         427  2.018190e+11  8/21/2018     275
428         428  2.018190e+11  8/21/2018     195
429         429  2.018190e+11  8/21/2018      63
430         430  2.018190e+11  8/21/2018       0
431         431  2.018190e+11  8/21/2018     348
432         432  2.018190e+11  8/21/2018      56
433         433  2.018190e+11  8/21/2018      85
434         434  2.018190e+11  8/21/2018     119
8/22/2018
     Unnamed: 0      ORDER ID ORDER_DATE  AMOUNT
435         435  2.018190e+11  8/22/2018     309
436         436  2.018190e+11  8/22/2018    2163
437         437  2.018190e+11  8/22/2018     668
438         438  2.018190e+11  8/22/2018    1330
8/23/2018
     Unnamed: 0      ORDER ID ORDER_DATE  AMOUNT
439         439  2.018190e+11  8/23/2018     455
440         440  2.018190e+11  8/23/2018     355
441         441  2.018190e+11  8/23/2018     182
442         442  2.018190e+11  8/23/2018     279
443         443  2.018190e+11  8/23/2018     522
444         444  2.018190e+11  8/23/2018     264
445         445  2.018190e+11  8/23/2018      80
446         446  2.018190e+11  8/23/2018     264
447         447  2.018190e+11  8/23/2018     160
448         448  2.018190e+11  8/23/2018     615
449         449  2.018190e+11  8/23/2018      57
450         450  2.018190e+11  8/23/2018     708
451         451  2.018190e+11  8/23/2018      57
452         452  2.018190e+11  8/23/2018     187
453         453  2.018190e+11  8/23/2018     365
454         454  2.018190e+11  8/23/2018     161
455         455  2.018190e+11  8/23/2018      48
456         456  2.018190e+11  8/23/2018     140
457         457  2.018190e+11  8/23/2018      36
458         458  2.018190e+11  8/23/2018     294
459         459  2.018190e+11  8/23/2018     366
460         460  2.018190e+11  8/23/2018     421
461         461  2.018190e+11  8/23/2018     254
462         462  2.018190e+11  8/23/2018     255
463         463  2.018190e+11  8/23/2018     185
464         464  2.018190e+11  8/23/2018       0
465         465  2.018190e+11  8/23/2018     230
8/24/2018
     Unnamed: 0      ORDER ID ORDER_DATE  AMOUNT
466         466  2.018190e+11  8/24/2018     226
467         467  2.018190e+11  8/24/2018     436
468         468  2.018190e+11  8/24/2018     554
469         469  2.018190e+11  8/24/2018     253
470         470  2.018190e+11  8/24/2018     105
471         471  2.018190e+11  8/24/2018     427
472         472  2.018190e+11  8/24/2018      82
473         473  2.018190e+11  8/24/2018     237
474         474  2.018190e+11  8/24/2018    1435
475         475  2.018190e+11  8/24/2018      29
476         476  2.018190e+11  8/24/2018     268
477         477  2.018190e+11  8/24/2018      68
478         478  2.018190e+11  8/24/2018     115
479         479  2.018190e+11  8/24/2018      60
480         480  2.018190e+11  8/24/2018     223
481         481  2.018190e+11  8/24/2018     460
482         482  2.018190e+11  8/24/2018     161
483         483  2.018190e+11  8/24/2018     412
484         484  2.018190e+11  8/24/2018      48
485         485  2.018190e+11  8/24/2018     458
486         486  2.018190e+11  8/24/2018      34
487         487  2.018190e+11  8/24/2018     265
8/25/2018
     Unnamed: 0      ORDER ID ORDER_DATE  AMOUNT
488         488  2.018190e+11  8/25/2018     852
489         489  2.018190e+11  8/25/2018     660
490         490  2.018190e+11  8/25/2018     227
491         491  2.018190e+11  8/25/2018    1200
492         492  2.018190e+11  8/25/2018     503
493         493  2.018190e+11  8/25/2018      82
494         494  2.018190e+11  8/25/2018     285
495         495  2.018190e+11  8/25/2018     578
496         496  2.018190e+11  8/25/2018     472
497         497  2.018190e+11  8/25/2018     599
498         498  2.018190e+11  8/25/2018      29
499         499  2.018190e+11  8/25/2018     272
500         500  2.018190e+11  8/25/2018     243
501         501  2.018190e+11  8/25/2018     928
502         502  2.018190e+11  8/25/2018      96
503         503  2.018190e+11  8/25/2018      24
504         504  2.018190e+11  8/25/2018     279
505         505  2.018190e+11  8/25/2018     689
506         506  2.018190e+11  8/25/2018     604
507         507  2.018190e+11  8/25/2018     244
508         508  2.018190e+11  8/25/2018     862
509         509  2.018190e+11  8/25/2018     643
510         510  2.018190e+11  8/25/2018      33
511         511  2.018190e+11  8/25/2018     190
512         512  2.018190e+11  8/25/2018     282
513         513  2.018190e+11  8/25/2018     230
514         514  2.018190e+11  8/25/2018     385
515         515  2.018190e+11  8/25/2018     462
516         516  2.018190e+11  8/25/2018     296
517         517  2.018190e+11  8/25/2018      80
518         518  2.018190e+11  8/25/2018     330
519         519  2.018190e+11  8/25/2018      51
520         520  2.018190e+11  8/25/2018      85
8/27/2018
     Unnamed: 0      ORDER ID ORDER_DATE  AMOUNT
521         521  2.018190e+11  8/27/2018     570
522         522  2.018190e+11  8/27/2018     225
523         523  2.018190e+11  8/27/2018     111
524         524  2.018190e+11  8/27/2018     400
525         525  2.018190e+11  8/27/2018     241
526         526  2.018190e+11  8/27/2018      85
527         527  2.018190e+11  8/27/2018     345
528         528  2.018190e+11  8/27/2018     370
529         529  2.018190e+11  8/27/2018     360
530         530  2.018190e+11  8/27/2018     435
531         531  2.018190e+11  8/27/2018     941
532         532  2.018190e+11  8/27/2018      57

188         188  2.018190e+11   8/9/2018     228

In [14]:
df5.get_group('8/1/2018')

    Unnamed: 0      ORDER ID ORDER_DATE  AMOUNT
0            0  2.018190e+11   8/1/2018     538
1            1  2.018190e+11   8/1/2018     202
2            2  2.018190e+11   8/1/2018      97
3            3  2.018190e+11   8/1/2018      57
4            4  2.018190e+11   8/1/2018     902
5            5  2.018190e+11   8/1/2018     190
6            6  2.018190e+11   8/1/2018      51
7            7  2.018190e+11   8/1/2018     176
8            8  2.018190e+11   8/1/2018      48
9            9  2.018190e+11   8/1/2018      66
10          10  2.018190e+11   8/1/2018      85
11          11  2.018190e+11   8/1/2018     199
12          12  2.018190e+11   8/1/2018     185
13          13  2.018190e+11   8/1/2018     640
14          14  2.018190e+11   8/1/2018     559
15          15  2.018190e+11   8/1/2018     239
16          16  2.018190e+11   8/1/2018       0
17          17  2.018190e+11   8/1/2018      14
18          18  2.018190e+11   8/1/2018     160

In [1]:
import pandas as pd
df6 = pd.read_excel('testcase5.xlsx')
df6

         ORDER ID       Date                         Party  AMOUNT
0    2.018190e+11 2018-08-01                           ABC     538
1    2.018190e+11 2018-08-01                 Upstairs cafe     202
2    2.018190e+11 2018-08-01                  Veer Da Cafe      97
3    2.018190e+11 2018-08-01                    Funk Blast      57
4    2.018190e+11 2018-08-01                           ABC     902
5    2.018190e+11 2018-08-01              BombayRestaurant     190
6    2.018190e+11 2018-08-01              Chocolate Center      51
7    2.018190e+11 2018-08-01            Meeting Point Cafe     176
8    2.018190e+11 2018-08-01                  Donald Metro      48
9    2.018190e+11 2018-08-01                      Cafevils      66
10   2.018190e+11 2018-08-01                    Kabir Ices      85
11   2.018190e+11 2018-08-01                  Sargam Ncafe     199
12   2.018190e+11 2018-08-01                   Nescafecamp     185
13   2.018190e+11 2018-08-01                 Upstairs cafe     640
14   2.018190e+11 2018-08-01                   kafeel Cafe     559
15   2.018190e+11 2018-08-01            kashiram Ambadekar     239
16   2.018190e+11 2018-08-01                           NaN       0
17   2.018190e+11 2018-08-01                  Donald Metro      14
18   2.018190e+11 2018-08-01  BurbgerRaja Thesandwichworld     160
19   2.018190e+11 2018-08-02              Chocolate Center     190
20   2.018190e+11 2018-08-02              Icefactory Irwin     119
21   2.018190e+11 2018-08-02       atlantaicecream Parlour     351
22   2.018190e+11 2018-08-02  BurbgerRaja Thesandwichworld     301
23   2.018190e+11 2018-08-02            kashiram Ambadekar      57
24   2.018190e+11 2018-08-02                  Veer Da Cafe     182
25   2.018190e+11 2018-08-02                     Cafeoir I     207
26   2.018190e+11 2018-08-02                  Sargam Ncafe     415
27   2.018190e+11 2018-08-02                   kafeel Cafe     216
28   2.018190e+11 2018-08-02                       Mariott     229
29   2.018190e+11 2018-08-02                  Sargam Ncafe      77
..            ...        ...                           ...     ...
607  2.018190e+11 2018-08-30               Mrssusma Thakur     313
608  2.018190e+11 2018-08-31                      Dadscafe      14
609  2.018190e+11 2018-08-31               Cafe Cremeirwin     826
610  2.018190e+11 2018-08-31                  Tamang Momos    1140
611  2.018190e+11 2018-08-31                    Funk Blast     160
612  2.018190e+11 2018-08-31                   Cheers Club     322
613  2.018190e+11 2018-08-31     CafeCofeeday Biyanisquare     113
614  2.018190e+11 2018-08-31      Cafehiddenplace Vaidyaji      57
615  2.018190e+11 2018-08-31              Chocolate Center     148
616  2.018190e+11 2018-08-31                       Mariott     150
617  2.018190e+11 2018-08-31                  Sargam Ncafe     142
618  2.018190e+11 2018-08-31                Sagarramgaokar    1005
619  2.018190e+11 2018-08-31                      Cafevils      34
620  2.018190e+11 2018-08-31                      Dadscafe     594
621  2.018190e+11 2018-08-31            Meeting Point Cafe     136
622  2.018190e+11 2018-08-31            kashiram Ambadekar      89
623  2.018190e+11 2018-08-31                   Nescafecamp     189
624  2.018190e+11 2018-08-31                     Cafeoir I      85
625  2.018190e+11 2018-08-31                 Upstairs cafe     132
626  2.018190e+11 2018-08-31                   Cafeoir Two     152
627  2.018190e+11 2018-08-31                Muthuswamicafe      75
628  2.018190e+11 2018-08-31              BombayRestaurant    2267
629  2.018190e+11 2018-08-31                 Upstairs cafe      90
630  2.018190e+11 2018-08-31                    Kabir Ices     185
631  2.018190e+11 2018-08-31     Jashnbanquets Dnyaneshwar    6608
632  2.018190e+11 2018-08-31                 Aniket Thakur     346
633  2.018190e+11 2018-08-31                    Kabir Ices     102
634  2.018190e+11 2018-08-31              BombayRestaurant     340
635  2.018190e+11 2018-08-31              Chocolate Center      14
636           NaN        NaT                           NaN  224125

[637 rows x 4 columns]

In [19]:
df7 = df6.groupby('Party')
df7

In [23]:
df7 = df6.groupby('Party')
for Party,Party_data in df7:
    print(Party)
    print(Party_data)

ABC
         ORDER ID       Date Party  AMOUNT
0    2.018190e+11 2018-08-01   ABC     538
4    2.018190e+11 2018-08-01   ABC     902
31   2.018190e+11 2018-08-02   ABC     109
45   2.018190e+11 2018-08-03   ABC     199
83   2.018190e+11 2018-08-04   ABC     851
91   2.018190e+11 2018-08-04   ABC    1306
109  2.018190e+11 2018-08-06   ABC     541
119  2.018190e+11 2018-08-06   ABC      66
139  2.018190e+11 2018-08-07   ABC     155
148  2.018190e+11 2018-08-07   ABC      54
152  2.018190e+11 2018-08-07   ABC     293
167  2.018190e+11 2018-08-08   ABC     207
198  2.018190e+11 2018-08-10   ABC     305
216  2.018190e+11 2018-08-11   ABC     536
236  2.018190e+11 2018-08-11   ABC     530
253  2.018190e+11 2018-08-13   ABC    1023
284  2.018190e+11 2018-08-14   ABC     762
296  2.018190e+11 2018-08-14   ABC     315
297  2.018190e+11 2018-08-14   ABC    1002
303  2.018190e+11 2018-08-15   ABC     570
337  2.018190e+11 2018-08-17   ABC      57
372  2.018190e+11 2018-08-18   ABC     760
388  2.018190e+11 2018-08-19   ABC     111
415  2.018190e+11 2018-08-20   ABC      33
420  2.018190e+11 2018-08-21   ABC     886
444  2.018190e+11 2018-08-23   ABC     264
478  2.018190e+11 2018-08-24   ABC     115
509  2.018190e+11 2018-08-25   ABC     643
511  2.018190e+11 2018-08-25   ABC     190
531  2.018190e+11 2018-08-27   ABC     941
557  2.018190e+11 2018-08-28   ABC     278
564  2.018190e+11 2018-08-29   ABC     247
587  2.018190e+11 2018-08-30   ABC     157
Alka Rathi
         ORDER ID       Date       Party  AMOUNT
176  2.018190e+11 2018-08-08  Alka Rathi       0
177  2.018190e+11 2018-08-08  Alka Rathi       0
Aniket Thakur
         ORDER ID       Date          Party  AMOUNT
123  2.018190e+11 2018-08-06  Aniket Thakur      28
174  2.018190e+11 2018-08-08  Aniket Thakur     275
432  2.018190e+11 2018-08-21  Aniket Thakur      56
485  2.018190e+11 2018-08-24  Aniket Thakur     458
632  2.018190e+11 2018-08-31  Aniket Thakur     346
Ankita Sane
         ORDER ID       Date        Party  AMOUNT
516  2.018190e+11 2018-08-25  Ankita Sane     296
Anushree Rathi
         ORDER ID       Date           Party  AMOUNT
140  2.018190e+11 2018-08-07  Anushree Rathi     213
149  2.018190e+11 2018-08-07  Anushree Rathi      20
210  2.018190e+11 2018-08-10  Anushree Rathi      79
239  2.018190e+11 2018-08-11  Anushree Rathi       0
240  2.018190e+11 2018-08-11  Anushree Rathi      66
Beyondtemptetion
         ORDER ID       Date             Party  AMOUNT
96   2.018190e+11 2018-08-04  Beyondtemptetion     600
157  2.018190e+11 2018-08-08  Beyondtemptetion     484
228  2.018190e+11 2018-08-11  Beyondtemptetion     418
BombayRestaurant
         ORDER ID       Date             Party  AMOUNT
5    2.018190e+11 2018-08-01  BombayRestaurant     190
34   2.018190e+11 2018-08-02  BombayRestaurant     160
40   2.018190e+11 2018-08-02  BombayRestaurant     265
49   2.018190e+11 2018-08-03  BombayRestaurant     199
74   2.018190e+11 2018-08-04  BombayRestaurant     521
104  2.018190e+11 2018-08-06  BombayRestaurant     615
125  2.018190e+11 2018-08-07  BombayRestaurant     190
165  2.018190e+11 2018-08-08  BombayRestaurant     133
197  2.018190e+11 2018-08-10  BombayRestaurant     241
215  2.018190e+11 2018-08-11  BombayRestaurant       0
231  2.018190e+11 2018-08-11  BombayRestaurant       0
235  2.018190e+11 2018-08-11  BombayRestaurant    1549
255  2.018190e+11 2018-08-13  BombayRestaurant      57
286  2.018190e+11 2018-08-14  BombayRestaurant     227
308  2.018190e+11 2018-08-16  BombayRestaurant     492
349  2.018190e+11 2018-08-18  BombayRestaurant     464
392  2.018190e+11 2018-08-20  BombayRestaurant     948
427  2.018190e+11 2018-08-21  BombayRestaurant     275
448  2.018190e+11 2018-08-23  BombayRestaurant     615
474  2.018190e+11 2018-08-24  BombayRestaurant    1435
504  2.018190e+11 2018-08-25  BombayRestaurant     279
526  2.018190e+11 2018-08-27  BombayRestaurant      85
545  2.018190e+11 2018-08-28  BombayRestaurant     190
565  2.018190e+11 2018-08-29  BombayRestaurant     313
573  2.018190e+11 2018-08-29  BombayRestaurant      85
604  2.018190e+11 2018-08-30  BombayRestaurant     156
628  2.018190e+11 2018-08-31  BombayRestaurant    2267
634  2.018190e+11 2018-08-31  BombayRestaurant     340
Bonfire Rahulsharma
         ORDER ID       Date                Party  AMOUNT
115  2.018190e+11 2018-08-06  Bonfire Rahulsharma      80
127  2.018190e+11 2018-08-07  Bonfire Rahulsharma      34
BurbgerRaja Thesandwichworld
         ORDER ID       Date                         Party  AMOUNT
18   2.018190e+11 2018-08-01  BurbgerRaja Thesandwichworld     160
22   2.018190e+11 2018-08-02  BurbgerRaja Thesandwichworld     301
79   2.018190e+11 2018-08-04  BurbgerRaja Thesandwichworld     784
259  2.018190e+11 2018-08-13  BurbgerRaja Thesandwichworld      84
265  2.018190e+11 2018-08-13  BurbgerRaja Thesandwichworld      80
295  2.018190e+11 2018-08-14  BurbgerRaja Thesandwichworld     386
299  2.018190e+11 2018-08-14  BurbgerRaja Thesandwichworld     698
333  2.018190e+11 2018-08-17  BurbgerRaja Thesandwichworld     342
417  2.018190e+11 2018-08-21  BurbgerRaja Thesandwichworld     155
477  2.018190e+11 2018-08-24  BurbgerRaja Thesandwichworld      68
502  2.018190e+11 2018-08-25  BurbgerRaja Thesandwichworld      96
578  2.018190e+11 2018-08-29  BurbgerRaja Thesandwichworld     203
Cafe Cremeirwin
         ORDER ID       Date            Party  AMOUNT
30   2.018190e+11 2018-08-02  Cafe Cremeirwin       0
77   2.018190e+11 2018-08-04  Cafe Cremeirwin     314
132  2.018190e+11 2018-08-07  Cafe Cremeirwin     157
201  2.018190e+11 2018-08-10  Cafe Cremeirwin      86
211  2.018190e+11 2018-08-11  Cafe Cremeirwin     242
290  2.018190e+11 2018-08-14  Cafe Cremeirwin     242
348  2.018190e+11 2018-08-18  Cafe Cremeirwin    1090
451  2.018190e+11 2018-08-23  Cafe Cremeirwin      57
494  2.018190e+11 2018-08-25  Cafe Cremeirwin     285
551  2.018190e+11 2018-08-28  Cafe Cremeirwin     143
568  2.018190e+11 2018-08-29  Cafe Cremeirwin      57
569  2.018190e+11 2018-08-29  Cafe Cremeirwin     321
609  2.018190e+11 2018-08-31  Cafe Cremeirwin     826
Cafe Goldenpanda
        ORDER ID       Date             Party  AMOUNT
39  2.018190e+11 2018-08-02  Cafe Goldenpanda      57
47  2.018190e+11 2018-08-03  Cafe Goldenpanda     169
72  2.018190e+11 2018-08-04  Cafe Goldenpanda      57
Cafe Vj
         ORDER ID       Date    Party  AMOUNT
65   2.018190e+11 2018-08-04  Cafe Vj     750
178  2.018190e+11 2018-08-08  Cafe Vj      48
221  2.018190e+11 2018-08-11  Cafe Vj     400
273  2.018190e+11 2018-08-14  Cafe Vj     147
353  2.018190e+11 2018-08-18  Cafe Vj     400
524  2.018190e+11 2018-08-27  Cafe Vj     400
CafeCofeeday Biyanisquare
         ORDER ID       Date                      Party  AMOUNT
41   2.018190e+11 2018-08-02  CafeCofeeday Biyanisquare     249
141  2.018190e+11 2018-08-07  CafeCofeeday Biyanisquare     159
159  2.018190e+11 2018-08-08  CafeCofeeday Biyanisquare     201
217  2.018190e+11 2018-08-11  CafeCofeeday Biyanisquare     269
351  2.018190e+11 2018-08-18  CafeCofeeday Biyanisquare     207
391  2.018190e+11 2018-08-20  CafeCofeeday Biyanisquare     247
498  2.018190e+11 2018-08-25  CafeCofeeday Biyanisquare      29
522  2.018190e+11 2018-08-27  CafeCofeeday Biyanisquare     225
613  2.018190e+11 2018-08-31  CafeCofeeday Biyanisquare     113
Cafecremyday Zilla
         ORDER ID       Date               Party  AMOUNT
481  2.018190e+11 2018-08-24  Cafecremyday Zilla     460
574  2.018190e+11 2018-08-29  Cafecremyday Zilla     230
Cafefresco
         ORDER ID       Date       Party  AMOUNT
101  2.018190e+11 2018-08-05  Cafefresco     230
378  2.018190e+11 2018-08-18  Cafefresco     230
513  2.018190e+11 2018-08-25  Cafefresco     230
Cafehiddenplace Vaidyaji
         ORDER ID       Date                     Party  AMOUNT
58   2.018190e+11 2018-08-03  Cafehiddenplace Vaidyaji      71
114  2.018190e+11 2018-08-06  Cafehiddenplace Vaidyaji      86
143  2.018190e+11 2018-08-07  Cafehiddenplace Vaidyaji      57
207  2.018190e+11 2018-08-10  Cafehiddenplace Vaidyaji     382
212  2.018190e+11 2018-08-11  Cafehiddenplace Vaidyaji     223
304  2.018190e+11 2018-08-16  Cafehiddenplace Vaidyaji     209
377  2.018190e+11 2018-08-18  Cafehiddenplace Vaidyaji     114
421  2.018190e+11 2018-08-21  Cafehiddenplace Vaidyaji     157
469  2.018190e+11 2018-08-24  Cafehiddenplace Vaidyaji     253
544  2.018190e+11 2018-08-28  Cafehiddenplace Vaidyaji     139
597  2.018190e+11 2018-08-30  Cafehiddenplace Vaidyaji      71
614  2.018190e+11 2018-08-31  Cafehiddenplace Vaidyaji      57
Cafejamnas Deepak
         ORDER ID       Date              Party  AMOUNT
275  2.018190e+11 2018-08-14  Cafejamnas Deepak     189
Cafemhtwentyseven
         ORDER ID       Date              Party  AMOUNT
172  2.018190e+11 2018-08-08  Cafemhtwentyseven      48
261  2.018190e+11 2018-08-13  Cafemhtwentyseven      51
361  2.018190e+11 2018-08-18  Cafemhtwentyseven      91
Cafenirali
         ORDER ID       Date       Party  AMOUNT
317  2.018190e+11 2018-08-16  Cafenirali     745
355  2.018190e+11 2018-08-18  Cafenirali       0
368  2.018190e+11 2018-08-18  Cafenirali      99
393  2.018190e+11 2018-08-20  Cafenirali     297
409  2.018190e+11 2018-08-20  Cafenirali     330
455  2.018190e+11 2018-08-23  Cafenirali      48
466  2.018190e+11 2018-08-24  Cafenirali     226
486  2.018190e+11 2018-08-24  Cafenirali      34
Cafeoir I
         ORDER ID       Date      Party  AMOUNT
25   2.018190e+11 2018-08-02  Cafeoir I     207
50   2.018190e+11 2018-08-03  Cafeoir I     185
75   2.018190e+11 2018-08-04  Cafeoir I     933
138  2.018190e+11 2018-08-07  Cafeoir I      85
170  2.018190e+11 2018-08-08  Cafeoir I     241
203  2.018190e+11 2018-08-10  Cafeoir I      68
229  2.018190e+11 2018-08-11  Cafeoir I       0
233  2.018190e+11 2018-08-11  Cafeoir I     264
242  2.018190e+11 2018-08-11  Cafeoir I      17
246  2.018190e+11 2018-08-13  Cafeoir I     102
277  2.018190e+11 2018-08-14  Cafeoir I     544
329  2.018190e+11 2018-08-17  Cafeoir I     375
356  2.018190e+11 2018-08-18  Cafeoir I     399
383  2.018190e+11 2018-08-18  Cafeoir I      80
423  2.018190e+11 2018-08-21  Cafeoir I     309
447  2.018190e+11 2018-08-23  Cafeoir I     160
470  2.018190e+11 2018-08-24  Cafeoir I     105
495  2.018190e+11 2018-08-25  Cafeoir I     578
581  2.018190e+11 2018-08-29  Cafeoir I     180
591  2.018190e+11 2018-08-30  Cafeoir I     340
624  2.018190e+11 2018-08-31  Cafeoir I      85
Cafeoir Two
         ORDER ID       Date        Party  AMOUNT
76   2.018190e+11 2018-08-04  Cafeoir Two     599
107  2.018190e+11 2018-08-06  Cafeoir Two     181
171  2.018190e+11 2018-08-08  Cafeoir Two     195
227  2.018190e+11 2018-08-11  Cafeoir Two     261
243  2.018190e+11 2018-08-11  Cafeoir Two      48
258  2.018190e+11 2018-08-13  Cafeoir Two     181
291  2.018190e+11 2018-08-14  Cafeoir Two     195
315  2.018190e+11 2018-08-16  Cafeoir Two     133
330  2.018190e+11 2018-08-17  Cafeoir Two     200
358  2.018190e+11 2018-08-18  Cafeoir Two     195
403  2.018190e+11 2018-08-20  Cafeoir Two     209
428  2.018190e+11 2018-08-21  Cafeoir Two     195
449  2.018190e+11 2018-08-23  Cafeoir Two      57
480  2.018190e+11 2018-08-24  Cafeoir Two     223
497  2.018190e+11 2018-08-25  Cafeoir Two     599
535  2.018190e+11 2018-08-27  Cafeoir Two     257
570  2.018190e+11 2018-08-29  Cafeoir Two     105
596  2.018190e+11 2018-08-30  Cafeoir Two      90
626  2.018190e+11 2018-08-31  Cafeoir Two     152
Cafevils
         ORDER ID       Date     Party  AMOUNT
9    2.018190e+11 2018-08-01  Cafevils      66
56   2.018190e+11 2018-08-03  Cafevils      34
82   2.018190e+11 2018-08-04  Cafevils     208
103  2.018190e+11 2018-08-06  Cafevils      80
133  2.018190e+11 2018-08-07  Cafevils     279
199  2.018190e+11 2018-08-10  Cafevils      51
223  2.018190e+11 2018-08-11  Cafevils      67
257  2.018190e+11 2018-08-13  Cafevils      14
283  2.018190e+11 2018-08-14  Cafevils      51
307  2.018190e+11 2018-08-16  Cafevils      51
394  2.018190e+11 2018-08-20  Cafevils      29
452  2.018190e+11 2018-08-23  Cafevils     187
457  2.018190e+11 2018-08-23  Cafevils      36
475  2.018190e+11 2018-08-24  Cafevils      29
548  2.018190e+11 2018-08-28  Cafevils      51
619  2.018190e+11 2018-08-31  Cafevils      34
Cheers Club
         ORDER ID       Date        Party  AMOUNT
612  2.018190e+11 2018-08-31  Cheers Club     322
Chintuwadapav Rahul
         ORDER ID       Date                Party  AMOUNT
38   2.018190e+11 2018-08-02  Chintuwadapav Rahul      74
117  2.018190e+11 2018-08-06  Chintuwadapav Rahul      32
206  2.018190e+11 2018-08-10  Chintuwadapav Rahul     604
247  2.018190e+11 2018-08-13  Chintuwadapav Rahul       0
267  2.018190e+11 2018-08-13  Chintuwadapav Rahul     290
272  2.018190e+11 2018-08-14  Chintuwadapav Rahul     589
302  2.018190e+11 2018-08-15  Chintuwadapav Rahul     348
344  2.018190e+11 2018-08-17  Chintuwadapav Rahul     638
365  2.018190e+11 2018-08-18  Chintuwadapav Rahul     460
367  2.018190e+11 2018-08-18  Chintuwadapav Rahul     190
376  2.018190e+11 2018-08-18  Chintuwadapav Rahul     158
400  2.018190e+11 2018-08-20  Chintuwadapav Rahul    1048
431  2.018190e+11 2018-08-21  Chintuwadapav Rahul     348
435  2.018190e+11 2018-08-22  Chintuwadapav Rahul     309
461  2.018190e+11 2018-08-23  Chintuwadapav Rahul     254
463  2.018190e+11 2018-08-23  Chintuwadapav Rahul     185
464  2.018190e+11 2018-08-23  Chintuwadapav Rahul       0
465  2.018190e+11 2018-08-23  Chintuwadapav Rahul     230
547  2.018190e+11 2018-08-28  Chintuwadapav Rahul     185
580  2.018190e+11 2018-08-29  Chintuwadapav Rahul     220
Chocolate Center
         ORDER ID       Date             Party  AMOUNT
6    2.018190e+11 2018-08-01  Chocolate Center      51
19   2.018190e+11 2018-08-02  Chocolate Center     190
48   2.018190e+11 2018-08-03  Chocolate Center      84
86   2.018190e+11 2018-08-04  Chocolate Center     598
128  2.018190e+11 2018-08-07  Chocolate Center     174
160  2.018190e+11 2018-08-08  Chocolate Center     209
200  2.018190e+11 2018-08-10  Chocolate Center     114
219  2.018190e+11 2018-08-11  Chocolate Center     445
254  2.018190e+11 2018-08-13  Chocolate Center     245
285  2.018190e+11 2018-08-14  Chocolate Center     131
300  2.018190e+11 2018-08-14  Chocolate Center      82
310  2.018190e+11 2018-08-16  Chocolate Center     307
321  2.018190e+11 2018-08-17  Chocolate Center      65
347  2.018190e+11 2018-08-18  Chocolate Center     222
405  2.018190e+11 2018-08-20  Chocolate Center     330
440  2.018190e+11 2018-08-23  Chocolate Center     355
499  2.018190e+11 2018-08-25  Chocolate Center     272
523  2.018190e+11 2018-08-27  Chocolate Center     111
554  2.018190e+11 2018-08-28  Chocolate Center     211
560  2.018190e+11 2018-08-29  Chocolate Center      71
586  2.018190e+11 2018-08-30  Chocolate Center      85
615  2.018190e+11 2018-08-31  Chocolate Center     148
635  2.018190e+11 2018-08-31  Chocolate Center      14
Coffeehousecafe
        ORDER ID       Date            Party  AMOUNT
97  2.018190e+11 2018-08-04  Coffeehousecafe      32
Dadscafe
         ORDER ID       Date     Party  AMOUNT
489  2.018190e+11 2018-08-25  Dadscafe     660
519  2.018190e+11 2018-08-25  Dadscafe      51
549  2.018190e+11 2018-08-28  Dadscafe     595
577  2.018190e+11 2018-08-29  Dadscafe     412
582  2.018190e+11 2018-08-29  Dadscafe      48
583  2.018190e+11 2018-08-29  Dadscafe      14
601  2.018190e+11 2018-08-30  Dadscafe     463
608  2.018190e+11 2018-08-31  Dadscafe      14
620  2.018190e+11 2018-08-31  Dadscafe     594
Delite Camp
         ORDER ID       Date        Party  AMOUNT
80   2.018190e+11 2018-08-04  Delite Camp    1276
190  2.018190e+11 2018-08-10  Delite Camp     471
369  2.018190e+11 2018-08-18  Delite Camp     366
387  2.018190e+11 2018-08-19  Delite Camp     245
412  2.018190e+11 2018-08-20  Delite Camp      15
436  2.018190e+11 2018-08-22  Delite Camp    2163
527  2.018190e+11 2018-08-27  Delite Camp     345
600  2.018190e+11 2018-08-30  Delite Camp     149
Dhabacafe Ravibhojwani
        ORDER ID       Date                   Party  AMOUNT
66  2.018190e+11 2018-08-04  Dhabacafe Ravibhojwani    1300
Donald Metro
         ORDER ID       Date         Party  AMOUNT
8    2.018190e+11 2018-08-01  Donald Metro      48
17   2.018190e+11 2018-08-01  Donald Metro      14
53   2.018190e+11 2018-08-03  Donald Metro      14
63   2.018190e+11 2018-08-03  Donald Metro      34
73   2.018190e+11 2018-08-04  Donald Metro     578
95   2.018190e+11 2018-08-04  Donald Metro      48
106  2.018190e+11 2018-08-06  Donald Metro      65
120  2.018190e+11 2018-08-06  Donald Metro      48
135  2.018190e+11 2018-08-07  Donald Metro      80
154  2.018190e+11 2018-08-07  Donald Metro     265
168  2.018190e+11 2018-08-08  Donald Metro      51
222  2.018190e+11 2018-08-11  Donald Metro     105
249  2.018190e+11 2018-08-13  Donald Metro     412
324  2.018190e+11 2018-08-17  Donald Metro     113
397  2.018190e+11 2018-08-20  Donald Metro     133
454  2.018190e+11 2018-08-23  Donald Metro     161
472  2.018190e+11 2018-08-24  Donald Metro      82
493  2.018190e+11 2018-08-25  Donald Metro      82
533  2.018190e+11 2018-08-27  Donald Metro      99
550  2.018190e+11 2018-08-28  Donald Metro     279
562  2.018190e+11 2018-08-29  Donald Metro      48
594  2.018190e+11 2018-08-30  Donald Metro      76
Eat Nmeet
         ORDER ID       Date      Party  AMOUNT
282  2.018190e+11 2018-08-14  Eat Nmeet     110
Funk Blast
         ORDER ID       Date       Party  AMOUNT
3    2.018190e+11 2018-08-01  Funk Blast      57
37   2.018190e+11 2018-08-02  Funk Blast      29
67   2.018190e+11 2018-08-04  Funk Blast     151
161  2.018190e+11 2018-08-08  Funk Blast      57
189  2.018190e+11 2018-08-10  Funk Blast      95
276  2.018190e+11 2018-08-14  Funk Blast      86
301  2.018190e+11 2018-08-14  Funk Blast      17
345  2.018190e+11 2018-08-18  Funk Blast     499
407  2.018190e+11 2018-08-20  Funk Blast      51
429  2.018190e+11 2018-08-21  Funk Blast      63
488  2.018190e+11 2018-08-25  Funk Blast     852
518  2.018190e+11 2018-08-25  Funk Blast     330
590  2.018190e+11 2018-08-30  Funk Blast     137
611  2.018190e+11 2018-08-31  Funk Blast     160
Grill Nchill
         ORDER ID       Date         Party  AMOUNT
234  2.018190e+11 2018-08-11  Grill Nchill     856
363  2.018190e+11 2018-08-18  Grill Nchill     630
Hotel Kailash
         ORDER ID       Date          Party  AMOUNT
142  2.018190e+11 2018-08-07  Hotel Kailash     404
146  2.018190e+11 2018-08-07  Hotel Kailash     134
271  2.018190e+11 2018-08-13  Hotel Kailash     242
408  2.018190e+11 2018-08-20  Hotel Kailash     621
413  2.018190e+11 2018-08-20  Hotel Kailash      75
602  2.018190e+11 2018-08-30  Hotel Kailash     492
Hoteladarsh
         ORDER ID       Date        Party  AMOUNT
194  2.018190e+11 2018-08-10  Hoteladarsh     123
Icefactory Irwin
         ORDER ID       Date             Party  AMOUNT
20   2.018190e+11 2018-08-02  Icefactory Irwin     119
105  2.018190e+11 2018-08-06  Icefactory Irwin     166
155  2.018190e+11 2018-08-07  Icefactory Irwin      48
Jashnbanquets Dnyaneshwar
         ORDER ID       Date                      Party  AMOUNT
294  2.018190e+11 2018-08-14  Jashnbanquets Dnyaneshwar    5009
631  2.018190e+11 2018-08-31  Jashnbanquets Dnyaneshwar    6608
Jashnlspicekitchen
         ORDER ID       Date               Party  AMOUNT
43   2.018190e+11 2018-08-03  Jashnlspicekitchen    2353
88   2.018190e+11 2018-08-04  Jashnlspicekitchen     393
151  2.018190e+11 2018-08-07  Jashnlspicekitchen     154
192  2.018190e+11 2018-08-10  Jashnlspicekitchen    2412
238  2.018190e+11 2018-08-11  Jashnlspicekitchen     110
370  2.018190e+11 2018-08-18  Jashnlspicekitchen    1290
386  2.018190e+11 2018-08-19  Jashnlspicekitchen    1123
458  2.018190e+11 2018-08-23  Jashnlspicekitchen     294
483  2.018190e+11 2018-08-24  Jashnlspicekitchen     412
501  2.018190e+11 2018-08-25  Jashnlspicekitchen     928
Joshiskitchen

621  2.018190e+11 2018-08-31  Meeting Point Cafe     136
Moraya Restaurant
         ORDER ID       Date              Party  AMOUNT
61   2.018190e+11 2018-08-03  Moraya Restaurant     494
89   2.018190e+11 2018-08-04  Moraya Restaurant      78
116  2.018190e+11 2018-08-06  Moraya Restaurant      38
Mrssusma Thakur
         ORDER ID       Date            Party  AMOUNT
374  2.018190e+11 2018-08-18  Mrssusma Thakur     131
607  2.018190e+11 2018-08-30  Mrssusma Thakur     313
Mrvirendrajimundhada
         ORDER ID       Date                 Party  AMOUNT
576  2.018190e+11 2018-08-29  Mrvirendrajimundhada     566
Mrzade
         ORDER ID       Date   Party  AMOUNT
490  2.018190e+11 2018-08-25  Mrzade     227
Muthuswamicafe
         ORDER ID       Date           Party  AMOUNT
320  2.018190e+11 2018-08-16  Muthuswamicafe     314
325  2.018190e+11 2018-08-17  Muthuswamicafe       0
336  2.018190e+11 2018-08-17  Muthuswamicafe     282
359  2.018190e+11 2018-08-18  Muthuswamicafe     807
396  2.018190e+11 2018-08-20  Muthuswamicafe     125
416  2.018190e+11 2018-08-21  Muthuswamicafe     413
442  2.018190e+11 2018-08-23  Muthuswamicafe     279
471  2.018190e+11 2018-08-24  Muthuswamicafe     427
508  2.018190e+11 2018-08-25  Muthuswamicafe     862
528  2.018190e+11 2018-08-27  Muthuswamicafe     370
529  2.018190e+11 2018-08-27  Muthuswamicafe     360
567  2.018190e+11 2018-08-29  Muthuswamicafe     107
627  2.018190e+11 2018-08-31  Muthuswamicafe      75
Neelam Restaurant
         ORDER ID       Date              Party  AMOUNT
59   2.018190e+11 2018-08-03  Neelam Restaurant     620
102  2.018190e+11 2018-08-06  Neelam Restaurant     530
122  2.018190e+11 2018-08-06  Neelam Restaurant      79
245  2.018190e+11 2018-08-12  Neelam Restaurant     406
264  2.018190e+11 2018-08-13  Neelam Restaurant     265
390  2.018190e+11 2018-08-20  Neelam Restaurant     265
414  2.018190e+11 2018-08-20  Neelam Restaurant     331
487  2.018190e+11 2018-08-24  Neelam Restaurant     265
605  2.018190e+11 2018-08-30  Neelam Restaurant     265
Nescafecamp
         ORDER ID       Date        Party  AMOUNT
12   2.018190e+11 2018-08-01  Nescafecamp     185
36   2.018190e+11 2018-08-02  Nescafecamp     189
52   2.018190e+11 2018-08-03  Nescafecamp      75
81   2.018190e+11 2018-08-04  Nescafecamp    1360
136  2.018190e+11 2018-08-07  Nescafecamp     189
225  2.018190e+11 2018-08-11  Nescafecamp     481
293  2.018190e+11 2018-08-14  Nescafecamp     114
334  2.018190e+11 2018-08-17  Nescafecamp     320
360  2.018190e+11 2018-08-18  Nescafecamp     189
364  2.018190e+11 2018-08-18  Nescafecamp      20
395  2.018190e+11 2018-08-20  Nescafecamp     274
446  2.018190e+11 2018-08-23  Nescafecamp     264
510  2.018190e+11 2018-08-25  Nescafecamp      33
514  2.018190e+11 2018-08-25  Nescafecamp     385
532  2.018190e+11 2018-08-27  Nescafecamp      57
571  2.018190e+11 2018-08-29  Nescafecamp     269
623  2.018190e+11 2018-08-31  Nescafecamp     189
Palekar Bakery
         ORDER ID       Date           Party  AMOUNT
150  2.018190e+11 2018-08-07  Palekar Bakery    1750
343  2.018190e+11 2018-08-17  Palekar Bakery    3539
Pizzastreet Cafecamp
         ORDER ID       Date                 Party  AMOUNT
85   2.018190e+11 2018-08-04  Pizzastreet Cafecamp     120
462  2.018190e+11 2018-08-23  Pizzastreet Cafecamp     255
503  2.018190e+11 2018-08-25  Pizzastreet Cafecamp      24
Prasadburgerking ShreeshyamIceent
         ORDER ID       Date                              Party  AMOUNT
42   2.018190e+11 2018-08-03  Prasadburgerking ShreeshyamIceent    1440
179  2.018190e+11 2018-08-08  Prasadburgerking ShreeshyamIceent    1332
208  2.018190e+11 2018-08-10  Prasadburgerking ShreeshyamIceent      57
209  2.018190e+11 2018-08-10  Prasadburgerking ShreeshyamIceent     420
248  2.018190e+11 2018-08-13  Prasadburgerking ShreeshyamIceent      71
270  2.018190e+11 2018-08-13  Prasadburgerking ShreeshyamIceent     732
379  2.018190e+11 2018-08-18  Prasadburgerking ShreeshyamIceent     766
410  2.018190e+11 2018-08-20  Prasadburgerking ShreeshyamIceent     142
459  2.018190e+11 2018-08-23  Prasadburgerking ShreeshyamIceent     366
515  2.018190e+11 2018-08-25  Prasadburgerking ShreeshyamIceent     462
517  2.018190e+11 2018-08-25  Prasadburgerking ShreeshyamIceent      80
606  2.018190e+11 2018-08-30  Prasadburgerking ShreeshyamIceent    1086
Raijeera Resturant
         ORDER ID       Date               Party  AMOUNT
188  2.018190e+11 2018-08-09  Raijeera Resturant     228
298  2.018190e+11 2018-08-14  Raijeera Resturant     400
460  2.018190e+11 2018-08-23  Raijeera Resturant     421
559  2.018190e+11 2018-08-28  Raijeera Resturant     106
RanChintupearl
         ORDER ID       Date           Party  AMOUNT
332  2.018190e+11 2018-08-17  RanChintupearl     407
Ranjeetraut
         ORDER ID       Date        Party  AMOUNT
124  2.018190e+11 2018-08-06  Ranjeetraut      80
Sagarramgaokar
         ORDER ID       Date           Party  AMOUNT
57   2.018190e+11 2018-08-03  Sagarramgaokar      65
411  2.018190e+11 2018-08-20  Sagarramgaokar    4402
598  2.018190e+11 2018-08-30  Sagarramgaokar    1308
618  2.018190e+11 2018-08-31  Sagarramgaokar    1005
Sapnaji Rathi
         ORDER ID       Date          Party  AMOUNT
44   2.018190e+11 2018-08-03  Sapnaji Rathi      71
389  2.018190e+11 2018-08-19  Sapnaji Rathi     316
404  2.018190e+11 2018-08-20  Sapnaji Rathi      70
456  2.018190e+11 2018-08-23  Sapnaji Rathi     140
579  2.018190e+11 2018-08-29  Sapnaji Rathi     391
Sargam Ncafe
         ORDER ID       Date         Party  AMOUNT
11   2.018190e+11 2018-08-01  Sargam Ncafe     199
26   2.018190e+11 2018-08-02  Sargam Ncafe     415
29   2.018190e+11 2018-08-02  Sargam Ncafe      77
54   2.018190e+11 2018-08-03  Sargam Ncafe     128
71   2.018190e+11 2018-08-04  Sargam Ncafe     865
108  2.018190e+11 2018-08-06  Sargam Ncafe     249
164  2.018190e+11 2018-08-08  Sargam Ncafe      57
214  2.018190e+11 2018-08-11  Sargam Ncafe     467
250  2.018190e+11 2018-08-13  Sargam Ncafe     618
280  2.018190e+11 2018-08-14  Sargam Ncafe     332
326  2.018190e+11 2018-08-17  Sargam Ncafe      71
453  2.018190e+11 2018-08-23  Sargam Ncafe     365
525  2.018190e+11 2018-08-27  Sargam Ncafe     241
561  2.018190e+11 2018-08-29  Sargam Ncafe     192
584  2.018190e+11 2018-08-29  Sargam Ncafe     197
588  2.018190e+11 2018-08-30  Sargam Ncafe     114
617  2.018190e+11 2018-08-31  Sargam Ncafe     142
Tamang Momos
         ORDER ID       Date         Party  AMOUNT
62   2.018190e+11 2018-08-03  Tamang Momos     285
180  2.018190e+11 2018-08-08  Tamang Momos    1140
331  2.018190e+11 2018-08-17  Tamang Momos     190
366  2.018190e+11 2018-08-18  Tamang Momos    1140
521  2.018190e+11 2018-08-27  Tamang Momos     570
610  2.018190e+11 2018-08-31  Tamang Momos    1140
Tasteandtounge Mrssagrawal
         ORDER ID       Date                       Party  AMOUNT
269  2.018190e+11 2018-08-13  Tasteandtounge Mrssagrawal     316
482  2.018190e+11 2018-08-24  Tasteandtounge Mrssagrawal     161
603  2.018190e+11 2018-08-30  Tasteandtounge Mrssagrawal     141
Upstairs cafe
         ORDER ID       Date          Party  AMOUNT
1    2.018190e+11 2018-08-01  Upstairs cafe     202
13   2.018190e+11 2018-08-01  Upstairs cafe     640
33   2.018190e+11 2018-08-02  Upstairs cafe     908
84   2.018190e+11 2018-08-04  Upstairs cafe    1592
99   2.018190e+11 2018-08-05  Upstairs cafe       0
100  2.018190e+11 2018-08-05  Upstairs cafe    2459
112  2.018190e+11 2018-08-06  Upstairs cafe    1145
131  2.018190e+11 2018-08-07  Upstairs cafe    1126
145  2.018190e+11 2018-08-07  Upstairs cafe     451
156  2.018190e+11 2018-08-08  Upstairs cafe     180
186  2.018190e+11 2018-08-09  Upstairs cafe     373
191  2.018190e+11 2018-08-10  Upstairs cafe     455
205  2.018190e+11 2018-08-10  Upstairs cafe     139
226  2.018190e+11 2018-08-11  Upstairs cafe     623
241  2.018190e+11 2018-08-11  Upstairs cafe     632
244  2.018190e+11 2018-08-12  Upstairs cafe     279
262  2.018190e+11 2018-08-13  Upstairs cafe     316
263  2.018190e+11 2018-08-13  Upstairs cafe     118
289  2.018190e+11 2018-08-14  Upstairs cafe     897
313  2.018190e+11 2018-08-16  Upstairs cafe     518
338  2.018190e+11 2018-08-17  Upstairs cafe     243
339  2.018190e+11 2018-08-17  Upstairs cafe       0
371  2.018190e+11 2018-08-18  Upstairs cafe     710
373  2.018190e+11 2018-08-18  Upstairs cafe     232
375  2.018190e+11 2018-08-18  Upstairs cafe     400
380  2.018190e+11 2018-08-18  Upstairs cafe     297
384  2.018190e+11 2018-08-19  Upstairs cafe     904
401  2.018190e+11 2018-08-20  Upstairs cafe     703
418  2.018190e+11 2018-08-21  Upstairs cafe      86
437  2.018190e+11 2018-08-22  Upstairs cafe     668
438  2.018190e+11 2018-08-22  Upstairs cafe    1330
450  2.018190e+11 2018-08-23  Upstairs cafe     708
476  2.018190e+11 2018-08-24  Upstairs cafe     268
505  2.018190e+11 2018-08-25  Upstairs cafe     689
534  2.018190e+11 2018-08-27  Upstairs cafe     273
538  2.018190e+11 2018-08-27  Upstairs cafe    1325
558  2.018190e+11 2018-08-28  Upstairs cafe     532
572  2.018190e+11 2018-08-29  Upstairs cafe     171
593  2.018190e+11 2018-08-30  Upstairs cafe     222
625  2.018190e+11 2018-08-31  Upstairs cafe     132
629  2.018190e+11 2018-08-31  Upstairs cafe      90
Veer Da Cafe
         ORDER ID       Date         Party  AMOUNT
2    2.018190e+11 2018-08-01  Veer Da Cafe      97
24   2.018190e+11 2018-08-02  Veer Da Cafe     182
69   2.018190e+11 2018-08-04  Veer Da Cafe     666
137  2.018190e+11 2018-08-07  Veer Da Cafe    1177
158  2.018190e+11 2018-08-08  Veer Da Cafe     144
181  2.018190e+11 2018-08-08  Veer Da Cafe     285
182  2.018190e+11 2018-08-09  Veer Da Cafe       0
184  2.018190e+11 2018-08-09  Veer Da Cafe     538
193  2.018190e+11 2018-08-10  Veer Da Cafe       0
213  2.018190e+11 2018-08-11  Veer Da Cafe     426
251  2.018190e+11 2018-08-13  Veer Da Cafe     156
274  2.018190e+11 2018-08-14  Veer Da Cafe     332
305  2.018190e+11 2018-08-16  Veer Da Cafe      29
328  2.018190e+11 2018-08-17  Veer Da Cafe       0
342  2.018190e+11 2018-08-17  Veer Da Cafe      86
346  2.018190e+11 2018-08-18  Veer Da Cafe     142
424  2.018190e+11 2018-08-21  Veer Da Cafe     503
441  2.018190e+11 2018-08-23  Veer Da Cafe     182
491  2.018190e+11 2018-08-25  Veer Da Cafe    1200
546  2.018190e+11 2018-08-28  Veer Da Cafe     228
585  2.018190e+11 2018-08-30  Veer Da Cafe      85
Vikram Nimbalkar
         ORDER ID       Date             Party  AMOUNT
204  2.018190e+11 2018-08-10  Vikram Nimbalkar     143
314  2.018190e+11 2018-08-16  Vikram Nimbalkar     284
541  2.018190e+11 2018-08-27  Vikram Nimbalkar     222
Vishal Zawar
         ORDER ID       Date         Party  AMOUNT
175  2.018190e+11 2018-08-08  Vishal Zawar      48
237  2.018190e+11 2018-08-11  Vishal Zawar     188
306  2.018190e+11 2018-08-16  Vishal Zawar     306
539  2.018190e+11 2018-08-27  Vishal Zawar     143
atlantaicecream Parlour
         ORDER ID       Date                    Party  AMOUNT
21   2.018190e+11 2018-08-02  atlantaicecream Parlour     351
322  2.018190e+11 2018-08-17  atlantaicecream Parlour      74
381  2.018190e+11 2018-08-18  atlantaicecream Parlour     276
385  2.018190e+11 2018-08-19  atlantaicecream Parlour     190
512  2.018190e+11 2018-08-25  atlantaicecream Parlour     282
kafeel Cafe
         ORDER ID       Date        Party  AMOUNT
14   2.018190e+11 2018-08-01  kafeel Cafe     559
27   2.018190e+11 2018-08-02  kafeel Cafe     216
87   2.018190e+11 2018-08-04  kafeel Cafe       0
90   2.018190e+11 2018-08-04  kafeel Cafe     536
134  2.018190e+11 2018-08-07  kafeel Cafe     252
169  2.018190e+11 2018-08-08  kafeel Cafe     306
195  2.018190e+11 2018-08-10  kafeel Cafe     347
279  2.018190e+11 2018-08-14  kafeel Cafe     548
319  2.018190e+11 2018-08-16  kafeel Cafe     920
335  2.018190e+11 2018-08-17  kafeel Cafe       0
340  2.018190e+11 2018-08-17  kafeel Cafe       0
341  2.018190e+11 2018-08-17  kafeel Cafe     361
350  2.018190e+11 2018-08-18  kafeel Cafe     223
399  2.018190e+11 2018-08-20  kafeel Cafe    1518
419  2.018190e+11 2018-08-21  kafeel Cafe     318
433  2.018190e+11 2018-08-21  kafeel Cafe      85
439  2.018190e+11 2018-08-23  kafeel Cafe     455
500  2.018190e+11 2018-08-25  kafeel Cafe     243
520  2.018190e+11 2018-08-25  kafeel Cafe      85
553  2.018190e+11 2018-08-28  kafeel Cafe     412
592  2.018190e+11 2018-08-30  kafeel Cafe     356
kashiram Ambadekar
         ORDER ID       Date               Party  AMOUNT
15   2.018190e+11 2018-08-01  kashiram Ambadekar     239
23   2.018190e+11 2018-08-02  kashiram Ambadekar      57
55   2.018190e+11 2018-08-03  kashiram Ambadekar     184
64   2.018190e+11 2018-08-03  kashiram Ambadekar      17
68   2.018190e+11 2018-08-04  kashiram Ambadekar     845
98   2.018190e+11 2018-08-04  kashiram Ambadekar      95
111  2.018190e+11 2018-08-06  kashiram Ambadekar     476
126  2.018190e+11 2018-08-07  kashiram Ambadekar      89
166  2.018190e+11 2018-08-08  kashiram Ambadekar      14
173  2.018190e+11 2018-08-08  kashiram Ambadekar      50
183  2.018190e+11 2018-08-09  kashiram Ambadekar     237
220  2.018190e+11 2018-08-11  kashiram Ambadekar     411
260  2.018190e+11 2018-08-13  kashiram Ambadekar     535
268  2.018190e+11 2018-08-13  kashiram Ambadekar      80
278  2.018190e+11 2018-08-14  kashiram Ambadekar     296
309  2.018190e+11 2018-08-16  kashiram Ambadekar     227
357  2.018190e+11 2018-08-18  kashiram Ambadekar     224
398  2.018190e+11 2018-08-20  kashiram Ambadekar     186
426  2.018190e+11 2018-08-21  kashiram Ambadekar     191
430  2.018190e+11 2018-08-21  kashiram Ambadekar       0
445  2.018190e+11 2018-08-23  kashiram Ambadekar      80
479  2.018190e+11 2018-08-24  kashiram Ambadekar      60
496  2.018190e+11 2018-08-25  kashiram Ambadekar     472
530  2.018190e+11 2018-08-27  kashiram Ambadekar     435
543  2.018190e+11 2018-08-28  kashiram Ambadekar     339
566  2.018190e+11 2018-08-29  kashiram Ambadekar     224
595  2.018190e+11 2018-08-30  kashiram Ambadekar     121
622  2.018190e+11 2018-08-31  kashiram Ambadekar      89

In [25]:
df7.get_group('Mariott')

         ORDER ID       Date    Party  AMOUNT
28   2.018190e+11 2018-08-02  Mariott     229
78   2.018190e+11 2018-08-04  Mariott     915
92   2.018190e+11 2018-08-04  Mariott     190
94   2.018190e+11 2018-08-04  Mariott      72
113  2.018190e+11 2018-08-06  Mariott      68
118  2.018190e+11 2018-08-06  Mariott     265
121  2.018190e+11 2018-08-06  Mariott      48
130  2.018190e+11 2018-08-07  Mariott     278
147  2.018190e+11 2018-08-07  Mariott      80
163  2.018190e+11 2018-08-08  Mariott      48
224  2.018190e+11 2018-08-11  Mariott     675
252  2.018190e+11 2018-08-13  Mariott     488
266  2.018190e+11 2018-08-13  Mariott     265
281  2.018190e+11 2018-08-14  Mariott     316
312  2.018190e+11 2018-08-16  Mariott     632
323  2.018190e+11 2018-08-17  Mariott     340
352  2.018190e+11 2018-08-18  Mariott     218
354  2.018190e+11 2018-08-18  Mariott     192
406  2.018190e+11 2018-08-20  Mariott     645
425  2.018190e+11 2018-08-21  Mariott     424
434  2.018190e+11 2018-08-21  Mariott     119
443  2.018190e+11 2018-08-23  Mariott     522
467  2.018190e+11 2018-08-24  Mariott     436
484  2.018190e+11 2018-08-24  Mariott      48
506  2.018190e+11 2018-08-25  Mariott     604
537  2.018190e+11 2018-08-27  Mariott      99
556  2.018190e+11 2018-08-28  Mariott     776
575  2.018190e+11 2018-08-29  Mariott     349
599  2.018190e+11 2018-08-30  Mariott     178
616  2.018190e+11 2018-08-31  Mariott     150

In [26]:
print(df7.mean())

                                       ORDER ID       AMOUNT
Party
ABC                                2.018190e+11   452.909091
Alka Rathi                         2.018190e+11     0.000000
Aniket Thakur                      2.018190e+11   232.600000
Ankita Sane                        2.018190e+11   296.000000
Anushree Rathi                     2.018190e+11    75.600000
Beyondtemptetion                   2.018190e+11   500.666667
BombayRestaurant                   2.018190e+11   438.964286
Bonfire Rahulsharma                2.018190e+11    57.000000
BurbgerRaja Thesandwichworld       2.018190e+11   279.750000
Cafe Cremeirwin                    2.018190e+11   293.846154
Cafe Goldenpanda                   2.018190e+11    94.333333
Cafe Vj                            2.018190e+11   357.500000
CafeCofeeday Biyanisquare          2.018190e+11   188.777778
Cafecremyday Zilla                 2.018190e+11   345.000000
Cafefresco                         2.018190e+11   230.000000
Cafehiddenplace Vaidyaji           2.018190e+11   151.583333
Cafejamnas Deepak                  2.018190e+11   189.000000
Cafemhtwentyseven                  2.018190e+11    63.333333
Cafenirali                         2.018190e+11   222.375000
Cafeoir I                          2.018190e+11   250.333333
Cafeoir Two                        2.018190e+11   214.473684
Cafevils                           2.018190e+11    79.187500
Cheers Club                        2.018190e+11   322.000000
Chintuwadapav Rahul                2.018190e+11   308.100000
Chocolate Center                   2.018190e+11   196.260870
Coffeehousecafe                    2.018190e+11    32.000000
Dadscafe                           2.018190e+11   316.777778
Delite Camp                        2.018190e+11   628.750000
Dhabacafe Ravibhojwani             2.018190e+11  1300.000000
Donald Metro                       2.018190e+11   128.863636
...                                         ...          ...
Joshiskitchen                      2.018190e+11   601.000000
Kabir Ices                         2.018190e+11   219.250000
Laziz Pizza                        2.018190e+11   460.714286
Mariott                            2.018190e+11   322.300000
Meeting Point Cafe                 2.018190e+11   294.636364
Moraya Restaurant                  2.018190e+11   203.333333
Mrssusma Thakur                    2.018190e+11   222.000000
Mrvirendrajimundhada               2.018190e+11   566.000000
Mrzade                             2.018190e+11   227.000000
Muthuswamicafe                     2.018190e+11   340.076923
Neelam Restaurant                  2.018190e+11   336.222222
Nescafecamp                        2.018190e+11   270.176471
Palekar Bakery                     2.018190e+11  2644.500000
Pizzastreet Cafecamp               2.018190e+11   133.000000
Prasadburgerking ShreeshyamIceent  2.018190e+11   579.500000
Raijeera Resturant                 2.018190e+11   288.750000
RanChintupearl                     2.018190e+11   407.000000
Ranjeetraut                        2.018190e+11    80.000000
Sagarramgaokar                     2.018190e+11  1695.000000
Sapnaji Rathi                      2.018190e+11   197.600000
Sargam Ncafe                       2.018190e+11   278.176471
Tamang Momos                       2.018190e+11   744.166667
Tasteandtounge Mrssagrawal         2.018190e+11   206.000000
Upstairs cafe                      2.018190e+11   561.853659
Veer Da Cafe                       2.018190e+11   307.523810
Vikram Nimbalkar                   2.018190e+11   216.333333
Vishal Zawar                       2.018190e+11   171.250000
atlantaicecream Parlour            2.018190e+11   234.600000
kafeel Cafe                        2.018190e+11   368.571429
kashiram Ambadekar                 2.018190e+11   224.035714

[68 rows x 2 columns]

In [27]:
df7.max()

                                       ORDER ID       Date  AMOUNT
Party
ABC                                2.018190e+11 2018-08-30    1306
Alka Rathi                         2.018190e+11 2018-08-08       0
Aniket Thakur                      2.018190e+11 2018-08-31     458
Ankita Sane                        2.018190e+11 2018-08-25     296
Anushree Rathi                     2.018190e+11 2018-08-11     213
Beyondtemptetion                   2.018190e+11 2018-08-11     600
BombayRestaurant                   2.018190e+11 2018-08-31    2267
Bonfire Rahulsharma                2.018190e+11 2018-08-07      80
BurbgerRaja Thesandwichworld       2.018190e+11 2018-08-29     784
Cafe Cremeirwin                    2.018190e+11 2018-08-31    1090
Cafe Goldenpanda                   2.018190e+11 2018-08-04     169
Cafe Vj                            2.018190e+11 2018-08-27     750
CafeCofeeday Biyanisquare          2.018190e+11 2018-08-31     269
Cafecremyday Zilla                 2.018190e+11 2018-08-29     460
Cafefresco                         2.018190e+11 2018-08-25     230
Cafehiddenplace Vaidyaji           2.018190e+11 2018-08-31     382
Cafejamnas Deepak                  2.018190e+11 2018-08-14     189
Cafemhtwentyseven                  2.018190e+11 2018-08-18      91
Cafenirali                         2.018190e+11 2018-08-24     745
Cafeoir I                          2.018190e+11 2018-08-31     933
Cafeoir Two                        2.018190e+11 2018-08-31     599
Cafevils                           2.018190e+11 2018-08-31     279
Cheers Club                        2.018190e+11 2018-08-31     322
Chintuwadapav Rahul                2.018190e+11 2018-08-29    1048
Chocolate Center                   2.018190e+11 2018-08-31     598
Coffeehousecafe                    2.018190e+11 2018-08-04      32
Dadscafe                           2.018190e+11 2018-08-31     660
Delite Camp                        2.018190e+11 2018-08-30    2163
Dhabacafe Ravibhojwani             2.018190e+11 2018-08-04    1300
Donald Metro                       2.018190e+11 2018-08-30     578
...                                         ...        ...     ...
Joshiskitchen                      2.018190e+11 2018-08-03     601
Kabir Ices                         2.018190e+11 2018-08-31     729
Laziz Pizza                        2.018190e+11 2018-08-28     814
Mariott                            2.018190e+11 2018-08-31     915
Meeting Point Cafe                 2.018190e+11 2018-08-31     671
Moraya Restaurant                  2.018190e+11 2018-08-06     494
Mrssusma Thakur                    2.018190e+11 2018-08-30     313
Mrvirendrajimundhada               2.018190e+11 2018-08-29     566
Mrzade                             2.018190e+11 2018-08-25     227
Muthuswamicafe                     2.018190e+11 2018-08-31     862
Neelam Restaurant                  2.018190e+11 2018-08-30     620
Nescafecamp                        2.018190e+11 2018-08-31    1360
Palekar Bakery                     2.018190e+11 2018-08-17    3539
Pizzastreet Cafecamp               2.018190e+11 2018-08-25     255
Prasadburgerking ShreeshyamIceent  2.018190e+11 2018-08-30    1440
Raijeera Resturant                 2.018190e+11 2018-08-28     421
RanChintupearl                     2.018190e+11 2018-08-17     407
Ranjeetraut                        2.018190e+11 2018-08-06      80
Sagarramgaokar                     2.018190e+11 2018-08-31    4402
Sapnaji Rathi                      2.018190e+11 2018-08-29     391
Sargam Ncafe                       2.018190e+11 2018-08-31     865
Tamang Momos                       2.018190e+11 2018-08-31    1140
Tasteandtounge Mrssagrawal         2.018190e+11 2018-08-30     316
Upstairs cafe                      2.018190e+11 2018-08-31    2459
Veer Da Cafe                       2.018190e+11 2018-08-30    1200
Vikram Nimbalkar                   2.018190e+11 2018-08-27     284
Vishal Zawar                       2.018190e+11 2018-08-27     306
atlantaicecream Parlour            2.018190e+11 2018-08-25     351
kafeel Cafe                        2.018190e+11 2018-08-30    1518
kashiram Ambadekar                 2.018190e+11 2018-08-31     845

[68 rows x 3 columns]

In [28]:
df7.describe()

                                  AMOUNT                                    \
                                   count         mean          std     min
Party
ABC                                 33.0   452.909091   351.093592    33.0
Alka Rathi                           2.0     0.000000     0.000000     0.0
Aniket Thakur                        5.0   232.600000   186.085464    28.0
Ankita Sane                          1.0   296.000000          NaN   296.0
Anushree Rathi                       5.0    75.600000    83.350465     0.0
Beyondtemptetion                     3.0   500.666667    92.137578   418.0
BombayRestaurant                    28.0   438.964286   522.339997     0.0
Bonfire Rahulsharma                  2.0    57.000000    32.526912    34.0
BurbgerRaja Thesandwichworld        12.0   279.750000   240.724333    68.0
Cafe Cremeirwin                     13.0   293.846154   317.131110     0.0
Cafe Goldenpanda                     3.0    94.333333    64.663230    57.0
Cafe Vj                              6.0   357.500000   244.775612    48.0
CafeCofeeday Biyanisquare            9.0   188.777778    76.976909    29.0
Cafecremyday Zilla                   2.0   345.000000   162.634560   230.0
Cafefresco                           3.0   230.000000     0.000000   230.0
Cafehiddenplace Vaidyaji            12.0   151.583333    99.340972    57.0
Cafejamnas Deepak                    1.0   189.000000          NaN   189.0
Cafemhtwentyseven                    3.0    63.333333    24.006943    48.0
Cafenirali                           8.0   222.375000   245.201339     0.0
Cafeoir I                           21.0   250.333333   224.216042     0.0
Cafeoir Two                         19.0   214.473684   148.004267    48.0
Cafevils                            16.0    79.187500    76.104506    14.0
Cheers Club                          1.0   322.000000          NaN   322.0
Chintuwadapav Rahul                 20.0   308.100000   256.883324     0.0
Chocolate Center                    23.0   196.260870   140.486563    14.0
Coffeehousecafe                      1.0    32.000000          NaN    32.0
Dadscafe                             9.0   316.777778   280.342994    14.0
Delite Camp                          8.0   628.750000   727.167253    15.0
Dhabacafe Ravibhojwani               1.0  1300.000000          NaN  1300.0
Donald Metro                        22.0   128.863636   139.212854    14.0
...                                  ...          ...          ...     ...
Joshiskitchen                        1.0   601.000000          NaN   601.0
Kabir Ices                          16.0   219.250000   173.294932    68.0
Laziz Pizza                          7.0   460.714286   283.400020   138.0
Mariott                             30.0   322.300000   239.874845    48.0
Meeting Point Cafe                  22.0   294.636364   201.968301    43.0
Moraya Restaurant                    3.0   203.333333   252.517986    38.0
Mrssusma Thakur                      2.0   222.000000   128.693434   131.0
Mrvirendrajimundhada                 1.0   566.000000          NaN   566.0
Mrzade                               1.0   227.000000          NaN   227.0
Muthuswamicafe                      13.0   340.076923   258.016621     0.0
Neelam Restaurant                    9.0   336.222222   161.798314    79.0
Nescafecamp                         17.0   270.176471   307.028752    20.0
Palekar Bakery                       2.0  2644.500000  1265.014032  1750.0
Pizzastreet Cafecamp                 3.0   133.000000   116.047404    24.0
Prasadburgerking ShreeshyamIceent   12.0   579.500000   493.467416    57.0
Raijeera Resturant                   4.0   288.750000   149.392938   106.0
RanChintupearl                       1.0   407.000000          NaN   407.0
Ranjeetraut                          1.0    80.000000          NaN    80.0
Sagarramgaokar                       4.0  1695.000000  1880.657509    65.0
Sapnaji Rathi                        5.0   197.600000   147.520507    70.0
Sargam Ncafe                        17.0   278.176471   216.150189    57.0
Tamang Momos                         6.0   744.166667   451.291665   190.0
Tasteandtounge Mrssagrawal           3.0   206.000000    95.786220   141.0
Upstairs cafe                       41.0   561.853659   495.217102     0.0
Veer Da Cafe                        21.0   307.523810   346.887103     0.0
Vikram Nimbalkar                     3.0   216.333333    70.670597   143.0
Vishal Zawar                         4.0   171.250000   107.124149    48.0
atlantaicecream Parlour              5.0   234.600000   106.408646    74.0
kafeel Cafe                         21.0   368.571429   344.996025     0.0
kashiram Ambadekar                  28.0   224.035714   195.993477     0.0

                                                                    ORDER ID  \
                                       25%     50%      75%     max    count
Party
ABC                                 157.00   305.0   760.00  1306.0     33.0
Alka Rathi                            0.00     0.0     0.00     0.0      2.0
Aniket Thakur                        56.00   275.0   346.00   458.0      5.0
Ankita Sane                         296.00   296.0   296.00   296.0      1.0
Anushree Rathi                       20.00    66.0    79.00   213.0      5.0
Beyondtemptetion                    451.00   484.0   542.00   600.0      3.0
BombayRestaurant                    159.00   253.0   499.25  2267.0     28.0
Bonfire Rahulsharma                  45.50    57.0    68.50    80.0      2.0
BurbgerRaja Thesandwichworld         93.00   181.5   353.00   784.0     12.0
Cafe Cremeirwin                      86.00   242.0   314.00  1090.0     13.0
Cafe Goldenpanda                     57.00    57.0   113.00   169.0      3.0
Cafe Vj                             210.25   400.0   400.00   750.0      6.0
CafeCofeeday Biyanisquare           159.00   207.0   247.00   269.0      9.0
Cafecremyday Zilla                  287.50   345.0   402.50   460.0      2.0
Cafefresco                          230.00   230.0   230.00   230.0      3.0
Cafehiddenplace Vaidyaji             71.00   126.5   212.50   382.0     12.0
Cafejamnas Deepak                   189.00   189.0   189.00   189.0      1.0
Cafemhtwentyseven                    49.50    51.0    71.00    91.0      3.0
Cafenirali                           44.50   162.5   305.25   745.0      8.0
Cafeoir I                            85.00   185.0   340.00   933.0     21.0
Cafeoir Two                         142.50   195.0   216.00   599.0     19.0
Cafevils                             34.00    51.0    70.25   279.0     16.0
Cheers Club                         322.00   322.0   322.00   322.0      1.0
Chintuwadapav Rahul                 178.25   242.0   376.00  1048.0     20.0
Chocolate Center                     84.50   174.0   258.50   598.0     23.0
Coffeehousecafe                      32.00    32.0    32.00    32.0      1.0
Dadscafe                             48.00   412.0   594.00   660.0      9.0
Delite Camp                         221.00   355.5   672.25  2163.0      8.0
Dhabacafe Ravibhojwani             1300.00  1300.0  1300.00  1300.0      1.0
Donald Metro                         48.00    81.0   128.00   578.0     22.0
...                                    ...     ...      ...     ...      ...
Joshiskitchen                       601.00   601.0   601.00   601.0      1.0
Kabir Ices                          102.00   165.5   246.25   729.0     16.0
Laziz Pizza                         212.00   460.0   694.50   814.0      7.0
Mariott                             126.75   265.0   475.00   915.0     30.0
Meeting Point Cafe                  139.00   249.0   438.00   671.0     22.0
Moraya Restaurant                    58.00    78.0   286.00   494.0      3.0
Mrssusma Thakur                     176.50   222.0   267.50   313.0      2.0
Mrvirendrajimundhada                566.00   566.0   566.00   566.0      1.0
Mrzade                              227.00   227.0   227.00   227.0      1.0
Muthuswamicafe                      125.00   314.0   413.00   862.0     13.0
Neelam Restaurant                   265.00   265.0   406.00   620.0      9.0
Nescafecamp                         114.00   189.0   274.00  1360.0     17.0
Palekar Bakery                     2197.25  2644.5  3091.75  3539.0      2.0
Pizzastreet Cafecamp                 72.00   120.0   187.50   255.0      3.0
Prasadburgerking ShreeshyamIceent   126.50   441.0   846.00  1440.0     12.0
Raijeera Resturant                  197.50   314.0   405.25   421.0      4.0
RanChintupearl                      407.00   407.0   407.00   407.0      1.0
Ranjeetraut                          80.00    80.0    80.00    80.0      1.0
Sagarramgaokar                      770.00  1156.5  2081.50  4402.0      4.0
Sapnaji Rathi                        71.00   140.0   316.00   391.0      5.0
Sargam Ncafe                        128.00   199.0   365.00   865.0     17.0
Tamang Momos                        356.25   855.0  1140.00  1140.0      6.0
Tasteandtounge Mrssagrawal          151.00   161.0   238.50   316.0      3.0
Upstairs cafe                       222.00   451.0   708.00  2459.0     41.0
Veer Da Cafe                         86.00   182.0   426.00  1200.0     21.0
Vikram Nimbalkar                    182.50   222.0   253.00   284.0      3.0
Vishal Zawar                        119.25   165.5   217.50   306.0      4.0
atlantaicecream Parlour             190.00   276.0   282.00   351.0      5.0
kafeel Cafe                         216.00   318.0   455.00  1518.0     21.0
kashiram Ambadekar                   80.00   188.5   306.75   845.0     28.0

                                                                           \
                                           mean         std           min
Party
ABC                                2.018190e+11  180.278782  2.018190e+11
Alka Rathi                         2.018190e+11    0.707107  2.018190e+11
Aniket Thakur                      2.018190e+11  216.873927  2.018190e+11
Ankita Sane                        2.018190e+11         NaN  2.018190e+11
Anushree Rathi                     2.018190e+11   48.812908  2.018190e+11
Beyondtemptetion                   2.018190e+11   66.575771  2.018190e+11
BombayRestaurant                   2.018190e+11  206.072880  2.018190e+11
Bonfire Rahulsharma                2.018190e+11    8.485281  2.018190e+11
BurbgerRaja Thesandwichworld       2.018190e+11  184.823421  2.018190e+11
Cafe Cremeirwin                    2.018190e+11  206.201700  2.018190e+11
Cafe Goldenpanda                   2.018190e+11   17.214335  2.018190e+11
Cafe Vj                            2.018190e+11  158.367189  2.018190e+11
CafeCofeeday Biyanisquare          2.018190e+11  198.248862  2.018190e+11
Cafecremyday Zilla                 2.018190e+11   67.882251  2.018190e+11
Cafefresco                         2.018190e+11  210.585691  2.018190e+11
Cafehiddenplace Vaidyaji           2.018190e+11  194.976844  2.018190e+11
Cafejamnas Deepak                  2.018190e+11         NaN  2.018190e+11
Cafemhtwentyseven                  2.018190e+11   95.043850  2.018190e+11
Cafenirali                         2.018190e+11   59.214953  2.018190e+11
Cafeoir I                          2.018190e+11  179.643668  2.018190e+11
Cafeoir Two                        2.018190e+11  164.121425  2.018190e+11
Cafevils                           2.018190e+11  187.965145  2.018190e+11
Cheers Club                        2.018190e+11         NaN  2.018190e+11
Chintuwadapav Rahul                2.018190e+11  137.755113  2.018190e+11
Chocolate Center                   2.018190e+11  200.838204  2.018190e+11
Coffeehousecafe                    2.018190e+11         NaN  2.018190e+11
Dadscafe                           2.018190e+11   44.618133  2.018190e+11
Delite Camp                        2.018190e+11  170.276194  2.018190e+11
Dhabacafe Ravibhojwani             2.018190e+11         NaN  2.018190e+11
Donald Metro                       2.018190e+11  204.294775  2.018190e+11
...                                         ...         ...           ...
Joshiskitchen                      2.018190e+11         NaN  2.018190e+11
Kabir Ices                         2.018190e+11  212.149544  2.018190e+11
Laziz Pizza                        2.018190e+11  159.486079  2.018190e+11
Mariott                            2.018190e+11  181.492373  2.018190e+11
Meeting Point Cafe                 2.018190e+11  196.372471  2.018190e+11
Moraya Restaurant                  2.018190e+11   27.501515  2.018190e+11
Mrssusma Thakur                    2.018190e+11  167.584307  2.018190e+11
Mrvirendrajimundhada               2.018190e+11         NaN  2.018190e+11
Mrzade                             2.018190e+11         NaN  2.018190e+11
Muthuswamicafe                     2.018190e+11  100.632487  2.018190e+11
Neelam Restaurant                  2.018190e+11  189.096389  2.018190e+11
Nescafecamp                        2.018190e+11  202.116776  2.018190e+11
Palekar Bakery                     2.018190e+11  137.178716  2.018190e+11
Pizzastreet Cafecamp               2.018190e+11  230.985570  2.018190e+11
Prasadburgerking ShreeshyamIceent  2.018190e+11  170.464517  2.018190e+11
Raijeera Resturant                 2.018190e+11  166.048939  2.018190e+11
RanChintupearl                     2.018190e+11         NaN  2.018190e+11
Ranjeetraut                        2.018190e+11         NaN  2.018190e+11
Sagarramgaokar                     2.018190e+11  262.345034  2.018190e+11
Sapnaji Rathi                      2.018190e+11  200.418811  2.018190e+11
Sargam Ncafe                       2.018190e+11  227.338711  2.018190e+11
Tamang Momos                       2.018190e+11  206.173471  2.018190e+11
Tasteandtounge Mrssagrawal         2.018190e+11  170.898605  2.018190e+11
Upstairs cafe                      2.018190e+11  178.286341  2.018190e+11
Veer Da Cafe                       2.018190e+11  163.383073  2.018190e+11
Vikram Nimbalkar                   2.018190e+11  172.398763  2.018190e+11
Vishal Zawar                       2.018190e+11  159.863223  2.018190e+11
atlantaicecream Parlour            2.018190e+11  183.530651  2.018190e+11
kafeel Cafe                        2.018190e+11  174.817510  2.018190e+11
kashiram Ambadekar                 2.018190e+11  193.777309  2.018190e+11

                                                                             \
                                            25%           50%           75%
Party
ABC                                2.018190e+11  2.018190e+11  2.018190e+11
Alka Rathi                         2.018190e+11  2.018190e+11  2.018190e+11
Aniket Thakur                      2.018190e+11  2.018190e+11  2.018190e+11
Ankita Sane                        2.018190e+11  2.018190e+11  2.018190e+11
Anushree Rathi                     2.018190e+11  2.018190e+11  2.018190e+11
Beyondtemptetion                   2.018190e+11  2.018190e+11  2.018190e+11
BombayRestaurant                   2.018190e+11  2.018190e+11  2.018190e+11
Bonfire Rahulsharma                2.018190e+11  2.018190e+11  2.018190e+11
BurbgerRaja Thesandwichworld       2.018190e+11  2.018190e+11  2.018190e+11
Cafe Cremeirwin                    2.018190e+11  2.018190e+11  2.018190e+11
Cafe Goldenpanda                   2.018190e+11  2.018190e+11  2.018190e+11
Cafe Vj                            2.018190e+11  2.018190e+11  2.018190e+11
CafeCofeeday Biyanisquare          2.018190e+11  2.018190e+11  2.018190e+11
Cafecremyday Zilla                 2.018190e+11  2.018190e+11  2.018190e+11
Cafefresco                         2.018190e+11  2.018190e+11  2.018190e+11
Cafehiddenplace Vaidyaji           2.018190e+11  2.018190e+11  2.018190e+11
Cafejamnas Deepak                  2.018190e+11  2.018190e+11  2.018190e+11
Cafemhtwentyseven                  2.018190e+11  2.018190e+11  2.018190e+11
Cafenirali                         2.018190e+11  2.018190e+11  2.018190e+11
Cafeoir I                          2.018190e+11  2.018190e+11  2.018190e+11
Cafeoir Two                        2.018190e+11  2.018190e+11  2.018190e+11
Cafevils                           2.018190e+11  2.018190e+11  2.018190e+11
Cheers Club                        2.018190e+11  2.018190e+11  2.018190e+11
Chintuwadapav Rahul                2.018190e+11  2.018190e+11  2.018190e+11
Chocolate Center                   2.018190e+11  2.018190e+11  2.018190e+11
Coffeehousecafe                    2.018190e+11  2.018190e+11  2.018190e+11
Dadscafe                           2.018190e+11  2.018190e+11  2.018190e+11
Delite Camp                        2.018190e+11  2.018190e+11  2.018190e+11
Dhabacafe Ravibhojwani             2.018190e+11  2.018190e+11  2.018190e+11
Donald Metro                       2.018190e+11  2.018190e+11  2.018190e+11
...                                         ...           ...           ...
Joshiskitchen                      2.018190e+11  2.018190e+11  2.018190e+11
Kabir Ices                         2.018190e+11  2.018190e+11  2.018190e+11
Laziz Pizza                        2.018190e+11  2.018190e+11  2.018190e+11
Mariott                            2.018190e+11  2.018190e+11  2.018190e+11
Meeting Point Cafe                 2.018190e+11  2.018190e+11  2.018190e+11
Moraya Restaurant                  2.018190e+11  2.018190e+11  2.018190e+11
Mrssusma Thakur                    2.018190e+11  2.018190e+11  2.018190e+11
Mrvirendrajimundhada               2.018190e+11  2.018190e+11  2.018190e+11
Mrzade                             2.018190e+11  2.018190e+11  2.018190e+11
Muthuswamicafe                     2.018190e+11  2.018190e+11  2.018190e+11
Neelam Restaurant                  2.018190e+11  2.018190e+11  2.018190e+11
Nescafecamp                        2.018190e+11  2.018190e+11  2.018190e+11
Palekar Bakery                     2.018190e+11  2.018190e+11  2.018190e+11
Pizzastreet Cafecamp               2.018190e+11  2.018190e+11  2.018190e+11
Prasadburgerking ShreeshyamIceent  2.018190e+11  2.018190e+11  2.018190e+11
Raijeera Resturant                 2.018190e+11  2.018190e+11  2.018190e+11
RanChintupearl                     2.018190e+11  2.018190e+11  2.018190e+11
Ranjeetraut                        2.018190e+11  2.018190e+11  2.018190e+11
Sagarramgaokar                     2.018190e+11  2.018190e+11  2.018190e+11
Sapnaji Rathi                      2.018190e+11  2.018190e+11  2.018190e+11
Sargam Ncafe                       2.018190e+11  2.018190e+11  2.018190e+11
Tamang Momos                       2.018190e+11  2.018190e+11  2.018190e+11
Tasteandtounge Mrssagrawal         2.018190e+11  2.018190e+11  2.018190e+11
Upstairs cafe                      2.018190e+11  2.018190e+11  2.018190e+11
Veer Da Cafe                       2.018190e+11  2.018190e+11  2.018190e+11
Vikram Nimbalkar                   2.018190e+11  2.018190e+11  2.018190e+11
Vishal Zawar                       2.018190e+11  2.018190e+11  2.018190e+11
atlantaicecream Parlour            2.018190e+11  2.018190e+11  2.018190e+11
kafeel Cafe                        2.018190e+11  2.018190e+11  2.018190e+11
kashiram Ambadekar                 2.018190e+11  2.018190e+11  2.018190e+11


                                            max
Party
ABC                                2.018190e+11
Alka Rathi                         2.018190e+11
Aniket Thakur                      2.018190e+11
Ankita Sane                        2.018190e+11
Anushree Rathi                     2.018190e+11
Beyondtemptetion                   2.018190e+11
BombayRestaurant                   2.018190e+11
Bonfire Rahulsharma                2.018190e+11
BurbgerRaja Thesandwichworld       2.018190e+11
Cafe Cremeirwin                    2.018190e+11
Cafe Goldenpanda                   2.018190e+11
Cafe Vj                            2.018190e+11
CafeCofeeday Biyanisquare          2.018190e+11
Cafecremyday Zilla                 2.018190e+11
Cafefresco                         2.018190e+11
Cafehiddenplace Vaidyaji           2.018190e+11
Cafejamnas Deepak                  2.018190e+11
Cafemhtwentyseven                  2.018190e+11

In [30]:
sales_order = pd.DataFrame({
    "Order_Id":(101,102,103,104),
    "Party":("Mariott","hilton","Cnraj",'Taj'),
    "Amount":(20000,10000,1000,15000)
})
sales_order

   Order_Id    Party  Amount
0       101  Mariott   20000
1       102   hilton   10000
2       103    Cnraj    1000
3       104      Taj   15000

In [31]:
#it will convert xlxs file to csv format
sales_order.to_csv("new1.csv",index = False)

In [2]:
df = pd.read_csv("new1.csv")
df

   Order_Id    Party  Amount
0       101  Mariott   20000
1       102   hilton   10000
2       103    Cnraj    1000
3       104      Taj   15000

In [5]:
sales_order_rajapeth = pd.DataFrame({
    "Order_Id":(100,101,102,103),
    "Party":("Beyond_temp","Nescafe","CCD",'vj_cafe'),
    "Amount":(25000,50000,10500,1800)
})
sales_order_rajapeth

   Order_Id        Party  Amount
0       100  Beyond_temp   25000
1       101      Nescafe   50000
2       102          CCD   10500
3       103      vj_cafe    1800

In [6]:
sales_order_saturna = pd.DataFrame({
    "Order_Id":(1000,1010,1020,1030),
    "Party":("Cafe_creame","South_kitchen","CCD_new",'Social_square'),
    "Amount":(2500,5000,1500,18000)
})
sales_order_saturna

   Order_Id          Party  Amount
0      1000    Cafe_creame    2500
1      1010  South_kitchen    5000
2      1020        CCD_new    1500
3      1030  Social_square   18000

In [7]:
#it will concat the 2 dataframes vertically
sale_concat = pd.concat([sales_order_rajapeth,sales_order_saturna],ignore_index = True)
sale_concat

   Order_Id          Party  Amount
0       100    Beyond_temp   25000
1       101        Nescafe   50000
2       102            CCD   10500
3       103        vj_cafe    1800
4      1000    Cafe_creame    2500
5      1010  South_kitchen    5000
6      1020        CCD_new    1500
7      1030  Social_square   18000

In [8]:
#it will concat the 2 dataframes horizontally
df11 = pd.concat([sales_order_rajapeth,sales_order_saturna],axis = 1)
df11

   Order_Id        Party  Amount  Order_Id          Party  Amount
0       100  Beyond_temp   25000      1000    Cafe_creame    2500
1       101      Nescafe   50000      1010  South_kitchen    5000
2       102          CCD   10500      1020        CCD_new    1500
3       103      vj_cafe    1800      1030  Social_square   18000

In [11]:
Rajapeth_df = pd.DataFrame({
    "Party":('mariott','hilton','westin','taj'),
    "monthly_sales":(20000,30000,30000,40000)
    
})
Rajapeth_df

     Party  monthly_sales
0  mariott          20000
1   hilton          30000
2   westin          30000
3      taj          40000

In [14]:
MIDC_df = pd.DataFrame({
    "Party":('mariott','hilton','westin','Rio'),
    "monthly_bakery_sales":(25000,35000,34000,45000)
    
})
MIDC_df

     Party  monthly_bakery_sales
0  mariott                 25000
1   hilton                 35000
2   westin                 34000
3      Rio                 45000

In [16]:
#it will merge the two dataframes on what basis nd how we wanna merge it
joindf = pd.merge(Rajapeth_df,MIDC_df,on='Party',how="outer")
joindf

     Party  monthly_sales  monthly_bakery_sales
0  mariott        20000.0               25000.0
1   hilton        30000.0               35000.0
2   westin        30000.0               34000.0
3      taj        40000.0                   NaN
4      Rio            NaN               45000.0

In [17]:
#here we gives the index according to our convini
degree_df = pd.DataFrame(['FE','SE','TE','BE'],index = [2016,2017,2018,2019])
degree_df

       0
2016  FE
2017  SE
2018  TE
2019  BE

In [24]:
name_df = pd.DataFrame([1,2,3,4,5,6,7,8,9],index = ['shubham','chinmay','tanay','sociopath','mithilesh','pankaj','harshal','nikunj','niket'])
name_df

           0
shubham    1
chinmay    2
tanay      3
sociopath  4
mithilesh  5
pankaj     6
harshal    7
nikunj     8
niket      9

In [33]:
name_df.iloc[60:]       #it will print 0 cause starting index is 60 which is not present

Empty DataFrame
Columns: [0]
Index: []

In [32]:
name_df.loc[:"chinmay"]

         0
shubham  1
chinmay  2

In [34]:
name_df.iloc[:15]      #it will start from 0-15 nd it will print all the element

           0
shubham    1
chinmay    2
tanay      3
sociopath  4
mithilesh  5
pankaj     6
harshal    7
nikunj     8
niket      9